#liveClass{
    background-color: #43c6ac;
    background-image: linear-gradient(to left,#191654,#43c6ac);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding-top: 50px;
    overflow: hidden;
    video{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		-webkit-transition: .4s all;
		-o-transition: .4s all;
		transition: .4s all;
    }
    .video-container{
    	position: relative;
	    width: 95%;
	    margin: 0px auto;
		.self-video{
			width: 50%;
			float: right;
			&.hidden{
				display: none;
			}
		}
		.peer-video{
			width: 50%;
			float: left;
			background: #fff;
		}
		.peer-screen-video{
			display: none;
			width: 100%;
		}
		.expanded{
			width: 100%;
		}
		.corner{
			background: rgba(90,150,100,0.4);
			position: absolute;
			bottom: 0px;
			width: 150px;
			height: 150px;
			right: 0px;
		}
    }
    .video-action-container{
    	position: relative;
	    width: 95%;
	    margin: 0px auto;
	    i{
			font-weight: bold;
			font-size: 25px;
			line-height: 27px;
			margin-left: -7px;
	    }
	    #toggleView{
	    	display: none;
	    }
    }
	.visible{
		display: block !important;
	}
}