<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<navbar></navbar>

<div class="container" id="settings">
  <div class="row">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Personal Info">
        <md-content class="md-padding">
          <i class="icon user"></i>
          <md-input-container class="md-block half" flex-gt-sm>
            <label>First name</label>
            <input ng-model="user.name.firstName">
          </md-input-container>

          <md-input-container class="md-block half" flex-gt-sm>
            <label>Last Name</label>
            <input ng-model="user.name.lastName">
          </md-input-container>

          <i class="icon mail"></i>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input ng-model="user.email">
          </md-input-container>

          <i class="icon marker"></i>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Country</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

          <i class="icon phone"></i>
          <md-input-container class="md-block one-tenth" flex-gt-sm>
            <label>Country Code</label>
            <input ng-model="user.phone.countryCode" disabled>
          </md-input-container>

          <md-input-container class="md-block nine-tenth" flex-gt-sm>
            <label>Phone</label>
            <input ng-model="user.phone.number">
          </md-input-container>

          <div class="action-container">
            <div class="ui buttons">
              <button ng-click="!loggedIn && showLoginModal($event)" class = "ui button primary">Save</button>
            </div>
          </div>
        </md-content>
      </md-tab>

<!--       <md-tab label="Address">
        <md-content class="md-padding">

        </md-content>
      </md-tab> -->

      <md-tab label="Change Password">
        <md-content class="md-padding">
          <!-- <h1 class="md-display-2">Tab One</h1> -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Old Password</label>
            <input ng-model="user.password.old">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>New Password</label>
            <input ng-model="user.password.new">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input ng-model="user.password.confirm">
          </md-input-container>

          <div class="action-container">
            <div class="ui buttons">
              <button ng-click="!loggedIn && showLoginModal($event)" class = "ui button primary">Change Password</button>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>

<!--     <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div> -->
  </div>
</div>