#settings{
	.row{
		md-tabs-canvas{
			background: #fff;
		}
		md-content{
			i{
				font-size: 30px;
			    color: #00918b;
			    padding: 25px 0px;
			}
			md-input-container{
				display: inline-block;
				width: calc(100% - 42px);
			}
			.action-container{
				width: 100%;
				text-align: left;
				.ui{
					&.buttons{
						min-width: 200px;
					}
				}
			}
			.bank-account-container{
				position: relative;
				min-height: 180px;
				background: #fff;
				margin-bottom: 30px;
				padding: 20px;
				.action-container{
					position: absolute;
				    top: 0px;
				    text-align: right;
				    display: none;
				    right: 10px;
				    padding: 0px;
				    i{
					    padding: 10px;
					    font-size: 20px;
					    cursor: pointer;
				    }
					.action-edit{

					}
					.action-delete{
						i{
							color: #DD4B39;
						}
					}
				}
				&:hover{
					.action-container{
						display: block;
					}
				}
		        .no-data{
					line-height: 1em;
					cursor: pointer;
					display: block;
					p{
						font-size: 20px;
						margin-top: 15px;
					}
		        }
		        .header{
		        	font-weight: bold;
		        	font-size: 16px;
		        }
		        .content{
		        	margin-top: 20px;
		        	p{
		        		font-weight: normal;
		        		font-size: 13px;
		        		line-height: 0.75em;
		        		span{
		        			display: inline-block;
		        			&.content-title{
		        				font-weight: bold;
		        			}
		        			&.content-data{
		        				font-weight: normal;
		        			}
		        		}
		        	}
		        }
			}
		}
	}
}