<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<navbar></navbar>

<div class="container" id="settings">
  <div class="row">
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Personal Info">
        <md-content class="md-padding">
          <form class="" name = "settingsForm" novalidate autocomplete="off">
            <div layout-gt-sm="row">
              <i class="icon user" hide-sm hide-xs></i>
              <md-input-container class="md-block" flex-gt-sm="50" flex-xs="100">
                <label>First name</label>
                <input ng-model="user.name.firstName">
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm="50" flex-xs="100">
                <label>Last Name</label>
                <input ng-model="user.name.lastName">
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <i class="icon mail" hide-sm hide-xs></i>
              <md-input-container class="md-block" flex-gt-sm="100" flex-xs="100">
                <label>Email</label>
                <input ng-model="user.email">
              </md-input-container>
            </div>


            <div layout-gt-sm="row">
              <i class="icon marker" hide-sm hide-xs></i>

              <md-input-container class="md-block" flex-gt-sm="10" flex-xs="100">
                <label>Country</label>
                <md-select ng-model="selectedCountry" ng-disabled="true">
                  <md-option ng-repeat="country in countries" ng-value="country">
                    +{{country.dialCode}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="90" flex-xs="100">
                <label>Phone Number</label>
                <input name="phone" ng-model="user.phone" placeholder=""
                       required ng-pattern="/^[0-9]{10}$/" md-maxlength="10">

                <div ng-messages="settingsForm.phone.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must enter the phone number.</div>
                  <div ng-message="pattern" class="my-message">That doesn't look like a valid phone
                    number.
                  </div>
                  <div ng-message="md-maxlength" class="my-message">
                    Phone number seems to  be too long.
                  </div>
                </div>
              </md-input-container>
            </div>


            <div class="action-container">
              <div class="ui buttons">
                <button ng-init = "saving = false" ng-class = "{'loading': saving}" ng-disabled="saving" ng-click="saveSettings(settingsForm)" class = "ui button primary">Save</button>
              </div>
            </div>
          </form>
        </md-content>
      </md-tab>

<!--       <md-tab label="Address">
        <md-content class="md-padding">

        </md-content>
      </md-tab> -->


      <md-tab label="Bank Accounts">
        <md-content class="md-padding">

<!--       <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Action buttons</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button>Edit</md-button>
          <md-button>Delete</md-button>
        </md-card-actions>
      </md-card> -->

          <div ng-if="!bankAccounts.length" class="padded bank-account-container" md-whiteframe="1" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" ng-click="showAddBankAccountModal($event)">
            <div class="no-data">
              <i class="add circle icon"></i>
              <p>Add new bank account</p>
            </div>
          </div>

          <div ng-if="bankAccounts.length" ng-repeat="bankAccount in bankAccounts" class="padded bank-account-container" md-whiteframe="1" flex-sm="45" flex-gt-sm="35" flex-gt-md="25">
            <div class="action-container">
              <span class="action-edit" ng-click="editBankAccount($index)">
                <i class="write icon"></i>
              </span>
              <span class="action-delete" ng-click="confirmDeleteBankAccount($event, $index)">
                <i class="remove icon"></i>
              </span>
            </div>
            <div class="header">
              {{bankAccount.name}}
            </div>
            <div class="content">
              <p>
                <span class="content-title">Bank: </span>
                <span class="content-data">{{bankAccount.bankName}}</span>
              </p>
              <p>
                <span class="content-title">Branch: </span>
                <span class="content-data">{{bankAccount.branchName}}</span>
              </p>
              <p>
                <span class="content-title">IFSC Code: </span>
                <span class="content-data">{{bankAccount.ifscCode}}</span>
              </p>
              <p>
                <span class="content-title">Account Number: </span>
                <span class="content-data">{{bankAccount.accountNumber}}</span>
              </p>
            </div>
          </div>

        </md-content>
      </md-tab>


      <md-tab label="Change Password">
        <md-content class="md-padding">
          <!-- <h1 class="md-display-2">Tab One</h1> -->
          <md-input-container class="md-block" flex-gt-sm>
            <label>Old Password</label>
            <input ng-model="user.password.old">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>New Password</label>
            <input ng-model="user.password.new">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input ng-model="user.password.confirm">
          </md-input-container>

          <div class="action-container">
            <div class="ui buttons">
              <button ng-click="!loggedIn && showLoginModal($event)" class = "ui button primary">Change Password</button>
            </div>
          </div>
        </md-content>
      </md-tab>
    </md-tabs>

<!--     <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <p class="help-block"> {{ message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div> -->
  </div>
</div>