<navbar></navbar>
<div class="container" id = "checkout">
  <div class="row">
    <div class="col-md-7 col-sm-7 left">

      <div class="row">
        <div class="ui attached message">
          <div class="header">
            Selected Session
          </div>
        </div>
        <div class="ui items">
          <div class="item" ng-repeat="session in cartData.classData">
            <div class="ui tiny image">
              <img ng-src="{{cartData.teacherDetails.profilePhoto.dataURI}}">
            </div>
            <div class="content">
              <span class="header">
                {{cartData.teacherDetails.name.firstName}} {{cartData.teacherDetails.name.lastName}}
              </span>
              <div class="meta">
                <span class="meta-item">
                  <span class="header">Start Date & Time:</span>
                  {{session.dateFormated}} {{session.startTimeFormated}}
                </span>
                <span class="meta-item">
                  <span class="header">End Date & Time:</span>
                  {{session.dateFormated}} {{session.endTimeFormated}}
                </span>
                <span class="meta-item">
                  <span class="header">Amount:</span>
                  {{session.currency}} {{session.cost}}
                </span>
              </div>
              <div class="description">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-sm-4 col-sm-offset-1 col-md-offset-1">
      <div class="row selectedSessionContainer">
        <div class="fixed">
          <div class="ui attached message">
            <div class="header">
              Payment Details
            </div>
          </div>
          <div class="ui segment">

          	<form ext-submit action="https://test.payu.in/_payment" method="POST" name="paymentRedirect">
          		<div ng-repeat="(key, val) in paymentData">
          			<input type="hidden" name="{{ key }}" value="{{ val }}" />
          		</div>
          		<!-- <input type="submit" id="paymentRedirect" value = "Pay Now"> -->
          	</form>
            <div ng-if = "cartData.classData.length">
              <div class="selectedSession">
                <span class = "sessionDateTime">
                  Total Amount:
                </span>
                <span class = "sessionCost">{{cartData.currency}}&nbsp;{{paymentDetails.totalCost}}</span>
                <div class = "clear"></div>
              </div>
              <div class="selectedSession">
                <span class = "sessionDateTime">
                  Wallet Balance Used:
                </span>
                <span class = "sessionCost">{{cartData.currency}}&nbsp;{{paymentDetails.walletBalance}}</span>
                <div class = "clear"></div>
              </div>
              <div class="selectedSession">
                <span class = "sessionDateTime">
                  Total Amount To Pay:
                </span>
                <span class = "sessionCost">{{cartData.currency}}&nbsp;{{paymentDetails.amountToPay}}</span>
                <div class = "clear"></div>
              </div>
              <span class = "bookClassButtonContainer">
                <button ng-click = "checkout($event)" class = "ui button primary">Pay Now</button>
              </span>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class = "clear"></div>
  </div>
</div>
