<div id="demoVideosContainer">
	<div class="slider-item-container">
		<div class="ui cards slider" id="video-slides-container">
			<a ng-repeat="video in slides" class="red card video" style="width:{{slideWidth}}px;">
				<div class="image">
					<span style="background-image: url('{{video.thumbnail}}');width: {{slideWidth}}px;height: {{slideWidth}}px;">
						<div class="video-data">
							<span class="pending" ng-if="video.status==='pending'">Pending Review</span>
							<span class="published" ng-if="video.status==='published'">Published</span>
							<span class="unpublished" ng-if="video.status==='unpublished'">Unpublished</span>
							<span class="processing" ng-if="video.status==='processing'">Processing</span>
						</div>
					</span>
				</div>
				<div class="video-slider-overlay-container">
					<div class="video-slider-overlay" ng-if="">
						<div class = "video-title">
							{{video.title}}
						</div>
						<div class="dropdown" ng-if="(canEdit || canDelete) && video.status !== 'processing'">
							<div data-toggle="dropdown" class="ui label dropdown-toggle">
								<i class="ellipsis vertical icon"></i>
							</div>
							<ul role="menu" class="dropdown-menu">
								<li ng-if="canEdit" ng-click="onVideoEdit($event, $index)">Edit</li>
								<li ng-if="canDelete" ng-click="onVideoDelete($event, $index)">Delete</li>
							</ul>
						</div>
						<i ng-click="onVideoClick($event, $index)" class="play-icon"></i>
					</div>
				</div>
			</a>
		</div>
	</div>

	<a href="#" id="prev" class="arrow" ng-click="prev($event)">
		<i class="angle left icon"></i>
	</a>

	<a href="#" id="next" class="arrow" ng-click="next($event)">
		<i class="angle right icon"></i>
	</a>
</div>