<div class="ui black inverted vertical footer segment">
  <div class="container">
    <div class="ui stackable inverted grid">
      <div class="four wide column">
        <h4 class="ui inverted header">Takhshila</h4>
        <div class="ui inverted link list">
          <a class="item" ui-sref="main()" target="_blank">About Us</a>
          <a class="item" ui-sref="main()" target="_blank">FAQ</a>
          <a class="item" ui-sref="main()" target="_blank">Privacy Policy</a>
          <a class="item" ui-sref="main()" target="_blank">Terms of Service</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Learn More</h4>
        <div class="ui inverted link list">
          <a class="item" ui-sref="main()" target="_blank">Features</a>
          <a class="item" ui-sref="main()" target="_blank">Blog</a>
          <a class="item" ui-sref="main()" target="_blank">Teach</a>
          <a class="item" ui-sref="main()" target="_blank">Support</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Trending Topics</h4>
        <div class="ui inverted link list">
          <a class="item" ui-sref="main()" target="_blank">Javascript</a>
          <a class="item" ui-sref="main()" target="_blank">Web Technologies</a>
          <a class="item" ui-sref="main()" target="_blank">Kinematics</a>
          <a class="item" ui-sref="main()" target="_blank">Organic Chemistry</a>
        </div>
      </div>
      <div class="four wide column">
        <h4 class="ui inverted header">Find us on</h4>
        <div class="ui inverted link list">
          <a class="item" ui-sref="main()" target="_blank">
          	<i class="facebook square icon"></i> Facebook
          </a>
          <a class="item" ui-sref="main()" target="_blank">
          	<i class="twitter square icon"></i> Twitter
          </a>
          <a class="item" ui-sref="main()" target="_blank">
          	<i class="instagram icon"></i> Instagram
          </a>
          <a class="item" ui-sref="main()" target="_blank">
          	<i class="google plus square icon"></i> Google Plus
          </a>
        </div>
      </div>
    </div>
    <div class="ui inverted section divider"></div>
    <div class="ui horizontal inverted small divided link list">
      <a class="item copyright" ui-sref="main()">
      	<i class="copyright icon"></i> Copyright 2017. Takhshila Technologies. All Rights Reserved.
      </a>
    </div>
  </div>
</div>