#demoVideosContainer{
  .arrow{
    position: absolute;
    z-index: 9;
    top: 0px;
    top: 45%;
    font-size: 5em;
    i{
      width: auto;
    }
  }
  #next{
    right: 0px;
  }
  #prev{
    left: 5px;
  }
  .slider-item-container{
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 2px;
    #video-slides-container{
      -webkit-transition: left .25s ease-in-out;
      transition: left .25s ease-in-out;
      .video{
        .video-slider-overlay-container{
          position: absolute;
          width: 100%;
          height: 100%;
          background: transparent;
          display: none;
          .video-slider-overlay{
            background: rgba(0,0,0,0.4);
            position: absolute;
            width: 100%;
            height: 100%;
            display: table;
            i{
              &.play-icon{
                position: absolute;
                display: block;
                width: 50px;
                height: 50px;
                top: 50%;
                left: 50%;
                margin-top: -25px;
                margin-left: -25px;
                background-image: url('../assets/iconsets/play-icons.svg');
              }
            }
          }
        }
        &:hover{
          .video-slider-overlay-container{
            display: block;
          }
        }
      }
    }
    .ui{
      border: 0px;
      position: relative;
      &.cards{
        flex-wrap: nowrap;
        .card{
          width: 100%;
          .image{
            width: 100%;
            height: 100%;
            background: transparent;
            span{
              background-size: cover;
              background-position: center;
              width: 200px;
              height: 200px;
              display: block;
            }
          }
        }
      }
    }
  }
}