.notification-container{
	padding: 8px 0px;
	margin: 0px 10px;
    cursor: pointer;
    position: relative;
    z-index: 99;
	a{
		&.notification-counter{
			color: #fff;
			i{
			    font-size: 1.6em;
			    margin-top: 4px;
			    span{
				    position: absolute;
				    top: 5px;
				    font-size: 12px;
				    font-weight: bold;
				    background: red;
				    border-radius: 50%;
				    width: 18px;
				    height: 18px;
				    line-height: 15px;
				    letter-spacing: 0px;
				    padding: 2px 0px;
			    }
			}
		}
	}
	.notification-dropdown{
		display: none;
	    position: absolute;
	    width: 400px;
	    max-height: 600px;
	    right: 0px;
	    top: 44px;
	    background: #fff;
	    z-index: 999;
	    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
	    /*border-radius: 0.28571429rem;*/
	    border: 1px solid rgba(34, 36, 38, 0.35);
	    i{
	    	&.caret{
			    color: #fff;
			    position: absolute;
			    transform: none;
			    font-size: 2em;
			    top: -15px;
			    margin: 0px;
			    border: 0px;
			    right: 0px;
	    	}
	    }
		.notification{
		    border-bottom: 1px solid rgba(34, 36, 38, 0.3);
		    padding: 1em 1em;
		    &.unread{
		    	background: rgba(0, 181, 173, 0.1);
		    }
		    .notification-image-container{
		    	width: 15%;
		    	float: left;
		    	.image{
		    		width:  55px;
		    		height: 55px;
		    		background-size: cover;
		    		background-position: center;
		    	}
		    }
		    .notification-content-container{
		    	width: 85%;
		    	padding-left: 10px;
		    	float: left;
		    	.notification-content{
		    		margin-top: 5px;
		    		font-size: 0.9rem;
		    		.class-date{
		    			display: block;
		    		}
		    		.additional-message,
		    		.class-denied{
		    			font-size: 12px;
		    			font-weight: bold;
		    			margin-top: 10px;
		    			color: #DB2828;
		    		}
		    	}
		    	.notification-actions{
		    		margin-top: 5px;
		    		button{
						padding: 10px 25px;
						font-size: 0.8rem;
		    		}
		    		.class-confirmed{
		    			font-size: 12px;
		    			font-weight: bold;
		    			margin-top: 10px;
		    			color: #21ba45;
		    		}
		    		.class-denied{
		    			font-size: 12px;
		    			font-weight: bold;
		    			margin-top: 10px;
		    			color: #DB2828;
		    		}
		    	}
		    }
		}
	}
	&.open{
		a{
			&.notification-counter{
				background: transparent;
			}
		}
		.notification-dropdown{
			display: block;
		}
	}
}