<div class="notification-container dropdown" ng-click="updateNotification()">
	<a href="#" class="notification-counter" data-toggle="dropdown">
		<i class="alarm outline icon">
			<span ng-if="notificationCount > 0">{{notificationCount}}</span>
		</i>
	</a>
	<div class="notification-dropdown">
		<i class="caret up icon"></i>
		<div class="notification" ng-repeat="notification in notifications" ng-class="{'unread': notification.notificationStatus === 'unread'}">
			<div class="notification-image-container">
				<div class="image" style="background-image: url('{{notification.fromUser.profilePhoto.dataURI}}');">
				</div>
			</div>
			<div class="notification-content-container" ng-if="notification.notificationType === 'videoPublished'">
				<div class="notification-title">
					<span>
						<strong>Video Published</strong>
					</span>
				</div>
				<div class="notification-content">
					<span>
						{{notification.notificationMessage}} on {{notification.createdOn | amDateFormat:'dddd, MMMM Do \'YY'}}
					</span>
				</div>
			</div>
			<div class="notification-content-container" ng-if="notification.notificationType === 'videounPublished'">
				<div class="notification-title">
					<span>
						<strong>Video Not Published</strong>
					</span>
				</div>
				<div class="notification-content">
					<span>
						{{notification.notificationMessage}}
					</span>
				</div>
			</div>
			<div class="notification-content-container" ng-if="notification.notificationType === 'requestConfirmed'">
				<div class="notification-title">
					<span>
						<strong>{{notification.fromUser.name.firstName}} {{notification.fromUser.name.lastName}}</strong> confirmed your request for class
						<span class="class-date">
							<strong>on</strong> {{notification.referenceClass.requestedTime.start | amDateFormat:'dddd, MMMM Do \'YY'}} <strong> from </strong> {{notification.referenceClass.requestedTime.start | amDateFormat:'h:mm a'}} <strong> to </strong>{{notification.referenceClass.requestedTime.end | amDateFormat:'h:mm a'}}
						</span>
						<p>** Please make yourself available atleast 15 mins before the start of the class.</p>
					</span>
				</div>	
			</div>
			<div class="notification-content-container" ng-if="notification.notificationType === 'classRequest'">
				<div class="notification-title">
					<span>
						<strong>{{notification.fromUser.name.firstName}} {{notification.fromUser.name.lastName}}</strong> requested a class.
					</span>
				</div>
				<div class="notification-content">
					<span class="class-date">
						<strong>on</strong> {{notification.referenceClass.requestedTime.start | amDateFormat:'dddd, MMMM Do \'YY'}} <strong> from </strong> {{notification.referenceClass.requestedTime.start | amDateFormat:'h:mm a'}} <strong> to </strong>{{notification.referenceClass.requestedTime.end | amDateFormat:'h:mm a'}}
					</span>
				</div>
				<div class="notification-actions">
					<div ng-if="notification.referenceClass.status=='requested'">
						<button ng-disabled="notification.processing" ng-click="confirmClass($event, $index)" ng-class = "{'loading': notification.processingConfirm}" class="ui button primary" lx-ripple>Confirm</button>
						
						<button ng-disabled="notification.processing" ng-click="denyClass($event, $index)" ng-class = "{'loading': notification.processingDeny}" class="ui button red" lx-ripple>Deny</button>
					</div>
					<div ng-if="notification.referenceClass.status=='confirmed'">
						<p>You confirmed this class.</p>
					</div>
					<div ng-if="notification.referenceClass.status=='denied'">
						<p>You denied this class.</p>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
      	<div class="row" ng-if="notifications.length == 0">
      		<div class="no-data">
      			No New Notifications
      		</div>	          		
      	</div>
	</div>
</div>