<modal id = "confirm-modal" class="{{className}}">
  <div class = "modal-header">
    <div class = "title">{{modalOptions.headerText}}</div>
    <i class="remove icon" ng-click = "closeDialog()"></i>
  </div>

  <div class = "modal-content">
    <div class="row">

      <div class="col-md-12 col-sm-12">
		<div class="ui segment">
			<div class="data-header">
				<p>{{modalOptions.contentTitle}}</p>
			</div>
			<div class="data-content">
				<div class="data-item">
					<div ng-if="modalOptions.modalType === 'deleteEducation'" class="education-icon">
						<i class="student icon"></i>
					</div>
					<div ng-if="modalOptions.modalType === 'deleteExperience'" class="education-icon">
						<i class="travel icon"></i>
					</div>
			        <div ng-if="modalOptions.modalType === 'deleteVideo'" class="ui segment thumbnailContainer">
			          <div class="thumbnail" style="background-image: url('thumbnails/{{modalData.thumbnailFile}}');"></div>
			        </div>
				</div>
				<div class="data-details" ng-class="{'data-middle' : (modalOptions.modalType === 'deleteEducation' || modalOptions.modalType === 'deleteExperience')}">
					<div ng-if="modalOptions.modalType === 'deleteExperience'">
						<p class="data-title">{{modalData.designation}}</p>
						<p class="data-description">{{modalData.companyName}}</p>
					</div>
					<div ng-if="modalOptions.modalType === 'deleteEducation'">
						<p class="data-title">{{modalData.schoolName}}</p>
						<p class="data-description">{{modalData.degreeName}}, {{modalData.field}}</p>
					</div>
					<div ng-if="modalOptions.modalType === 'deleteVideo'">
						<p class="data-title">{{modalData.title}}</p>
						<p class="data-description">{{modalData.description}}</p>
					</div>
				</div>
			</div>
		</div>
      </div>
    </div>

  </div>
  <div class = "modal-footer">
    <div class="ui buttons">
      <button class="ui button" ng-disabled="confirmProcessing" ng-click="closeDialog()" ng-class="{'{{modalOptions.cancelClass}}' : modalOptions.cancelClass !== '' }" lx-ripple>{{modalOptions.cancelText}}</button>
      <div class="or"></div>
      <button class="ui button" ng-disabled="confirmProcessing" ng-click="processConfirm()" ng-class="{'{{modalOptions.confirmClass}}' : modalOptions.confirmClass !== '', 'loading': confirmProcessing }" lx-ripple>{{modalOptions.confirmText}}</button>
    </div>
  </div>
</modal>
