<modal id = "confirm-modal" class="{{className}}">
  <div class = "modal-header">
    <div class = "title">{{modalOptions.headerText}}</div>
    <i class="remove icon" ng-click = "closeDialog()"></i>
  </div>

  <div class = "modal-content">
    <div class="row">
      <div ng-if="imageUrl" class="col-md-3 col-sm-3">
        <div class="ui segment thumbnailContainer">
          <div ng-if="videoUploaded || !showProgress" class="thumbnail" style="background-image: url('{{videoThumbnail}}');"></div>
          <div class="ui active inverted dimmer" ng-if="!videoUploaded && showProgress">
            <div class="ui text loader">Loading</div>
          </div>
          <p></p>
        </div>
      </div>

      <div ng-class="{'col-md-9 col-sm-9' : imageUrl, 'col-md-12 col-sm-12' : !imageUrl}">
		<div class="ui segment">
			<div class="data-header">
				<p>{{modalOptions.contentTitle}}</p>
			</div>
			<div class="data-content">
				<div class="data-item">
					<span ng-if="modalOptions.modalType === 'deleteEducation'" class="education-icon">
						<i class="student icon"></i>
					</span>
				</div>
				<div class="data-details">
					<p class="data-title">{{modalData.schoolName}}</p>
					<p class="data-description">{{modalData.degreeName}}, {{modalData.field}}</p>
				</div>
			</div>
		</div>
      </div>
    </div>

  </div>
  <div class = "modal-footer">
    <div class="ui buttons">
      <button class="ui button" ng-disabled="confirmProcessing" ng-click="closeDialog()" ng-class="{'{{modalOptions.cancelClass}}' : modalOptions.cancelClass !== '' }" lx-ripple>{{modalOptions.cancelText}}</button>
      <div class="or"></div>
      <button class="ui button" ng-disabled="confirmProcessing" ng-click="processConfirm()" ng-class="{'{{modalOptions.confirmClass}}' : modalOptions.confirmClass !== '', 'loading': confirmProcessing }" lx-ripple>{{modalOptions.confirmText}}</button>
    </div>
  </div>
</modal>
