.announcement{
	position: fixed !important;
    top: 0px;
    width: 100%;
    z-index: 99;
    margin: 0px !important;
}

.margin-top{
	
}
.notification{
	.md-toast-content{
		position: fixed;
	    right: 20px;
	    top: 50px;
	}	
}