<modal id = "profile-pic-modal">
  <div class = "modal-header">
    <div class = "title">Add Education</div>
    <i class="remove icon" ng-click = "closeDialog()"></i>
  </div>
  <div class = "modal-content">

        <div class="ui form">
          <form class="" name = "addEducationForm" novalidate>
            <div class="field form-error" ng-class = "{'has-error': loginError}">
              <div class="help-block">
                  <p>{{errorMessage}}</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addEducationForm.degree.$invalid && addEducationForm.degree.$touched}">
              <lx-text-field label="Degree" error = "addEducationForm.degree.$invalid && addEducationForm.degree.$touched">
                  <input name = "degree" type="text" ng-model="addEducationFormData.degree" uib-typeahead="topic for topic in getDegree($index, $viewValue)" typeahead-loading="loading" typeahead-no-results="noResults" required>
              </lx-text-field>
              <div class="help-block" ng-messages="addEducationForm.degree.$error" ng-if="addEducationForm.degree.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addEducationForm.school.$invalid && addEducationForm.school.$touched}">
              <lx-text-field label="School" error = "addEducationForm.school.$invalid && addEducationForm.school.$touched">
                  <input name = "school" type="text" ng-model="addEducationFormData.school" uib-typeahead="topic for topic in getSchools($index, $viewValue)" typeahead-loading="loading" typeahead-no-results="noResults" required>
              </lx-text-field>
              <div class="help-block" ng-messages="addEducationForm.school.$error" ng-if="addEducationForm.school.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addEducationForm.field.$invalid && addEducationForm.field.$touched}">
              <lx-text-field label="Field of study" error = "addEducationForm.field.$invalid && addEducationForm.field.$touched">
                  <input name = "field" type="text" ng-model="addEducationFormData.field" required>
              </lx-text-field>
              <div class="help-block" ng-messages="addEducationForm.field.$error" ng-if="addEducationForm.field.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addEducationForm.start.$invalid && addEducationForm.start.$touched}">
		      <md-input-container style="margin-right: 10px;width:45%;">
		        <label>Select start year</label>
		        <md-select ng-model="addEducationFormData.start" ng-change="populateEndYear()">
		          <md-option ng-repeat="year in startYear" value="{{year.value}}">
		          	{{year.value}}
		          </md-option>
		        </md-select>
		      </md-input-container>
              <div class="help-block" ng-messages="addEducationForm.start.$error" ng-if="addEducationForm.start.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addEducationForm.end.$invalid && addEducationForm.end.$touched}">
		      <md-input-container style="margin-right: 10px;width:45%;">
		        <label>Select end year</label>
		        <md-select ng-model="addEducationFormData.end" ng-change="populateEndYear()" ng-disabled="!addEducationFormData.start">
		          <md-option ng-repeat="year in endYear track by $index" value="{{year.value}}">
		          	{{year.value}}
		          </md-option>
		        </md-select>
		      </md-input-container>
              <div class="help-block" ng-messages="addEducationForm.end.$error" ng-if="addEducationForm.end.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

          </form>
        </div>

  </div>
  <div class = "modal-footer">
    <div class="ui buttons">
      <button class="ui button" ng-click = "closeDialog()">Cancel</button>
      <div class="or"></div>
      <button class="ui primary button" ng-click = "scale(250)" ng-class="{'loading': addEducationProgress}" lx-ripple>Add Education</button>
    </div>
  </div>
</modal>
