<navbar></navbar>

<div class="container" id="wallet">
	<div class="row">
		<div class="ui green segment wallet-container">
            <div class="wallet-item">
              <span class="wallet-icon">
              	<i class="payment icon"></i>
              </span>
              <span class="wallet-balance-item">
                <p class="wallet-price">Rs. {{wallet.withdrawBalance}}</p>
                <p class="wallet-description">Withdrawable wallet Balance</p>
              </span>
              <span class="wallet-balance-item">
                <p class="wallet-price">Rs. {{wallet.promoBalance}}</p>
                <p class="wallet-description">Promo Balance</p>
              </span>
              <span class="wallet-balance-item">
                <p class="wallet-price">Rs. {{wallet.promoBalance + wallet.withdrawBalance}}</p>
                <p class="wallet-description">Total wallet Balance</p>
              </span>
            </div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="ui piled segment">
	      <div class="row">
	        <div class="ui attached message">
	          <div class="header">
	          	<div class="row">
		            <div class = "col-sm-5">Transaction Details</div>
		            <div class = "col-sm-1">Type</div>
		            <div class = "col-sm-2">Amount</div>
		            <div class = "col-sm-1">Status</div>
		            <div class = "col-sm-3">Comments</div>
	          	</div>
	          </div>
	        </div>
	        <div class="ui segment transaction-list">
	          	<div class="row transaction-item" ng-repeat="transaction in transactionHistory">
		            <div class = "col-sm-5">
				    	<div class="transaction-details">
					    	<div class="transaction-icon">
					    		<i class="money icon"></i>
					    	</div>
					    	<div class="transaction-description">
					    		<p>{{transaction.transactionDescription}}</p>
					    	</div>
				    	</div>
		            </div>
		            <div class = "col-sm-1">
				    	<div class="transaction-type">
				    		<p>{{transaction.transactionType}}</p>
				    	</div>
		            </div>
		            <div class = "col-sm-2">
				    	<div class="transaction-amount">
				    		<p>{{transaction.transactionAmount}}</p>
				    	</div>
		            </div>
		            <div class = "col-sm-1">
				    	<div class="transaction-status">
				    		<p>{{transaction.status | capitalize}}</p>
				    	</div>
		            </div>
		            <div class = "col-sm-3">
				    	<div class="transaction-comment">
				    		<p>{{transaction.dateTime | amDateFormat:'MM-DD-YYYY HH:mm'}}</p>
				    	</div>
		            </div>
	          	</div>
	          	<div class="row" ng-if="transactionHistory.length == 0">
	          		<div class="no-data">
	          			No Transactions Found
	          		</div>	          		
	          	</div>

	            <div class="action-container centered" ng-if="hasMoreData">
	              <div class="ui buttons">
	                <button ng-class = "{'loading': loading}" ng-disabled="loading" ng-click="loadTransactionHistory()" class = "ui button basic primary">Load More</button>
	              </div>
	            </div>
	            
	        </div>
	      </div>
		</div>
	</div>
	<br>
</div>