/*Custom app CSS*/
body{
  height: auto;
}
a, span, .btn, .package-title, .package-price, .package-detail li, .overlay, .socials a, .switch p, .flex-manual .switch, .tab-title, .tab-info, .tab-desc, .icon {
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}
.clear,
.clearfix{
  clear: both;
}
.padding{
  padding: 20px;
}
/*.ui.fluid.steps.box-shadow{
box-shadow: 0px 0px 64px 0px rgba(197,197,197,.5);
}*/
.ui.fluid.steps.box-shadow
{
  position: relative;
}
.ui.fluid.steps.box-shadow:before, .ui.fluid.steps.box-shadow:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.ui.fluid.steps.box-shadow:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.no-border-radius{
  border-radius: 0px;
}
.border-radius{
  border-radius: 3px;
}
.extra-margin-top-md {
  margin-top: 8px !important;
}
.extra-margin-top-sm {
  margin-top: 4px !important;
}
.extra-margin-top-lg {
  margin-top: 12px !important;
}
.grayBg { background: #f0f0f0; text-align: center; }
#login-modal{
  height: 520px;
}
#login-modal .modal-content{
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
}
#login-modal .heading-text{
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  padding-left: 0px;
}
#login-modal p{
  font-size: 13px;
  text-align: left;
  font-weight: 100;
}
#login-modal .heading-text i{
  float: left;
  cursor: pointer;
  margin-right: 10px;
  font-size: 30px;
  font-weight: 100;
  line-height: 18px;
  margin-left: -10px;
}
#login-modal .tab-default {
  text-align: center;
  white-space: nowrap;
}
#login-modal .tab {
  background: #fff;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  left: 280px;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
  z-index: 9;
}
#login-modal .background-container {
  width: 280px;
  height: 100%;
  background-image: url('../img/background/particle-bg.png');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#login-modal .tab-login,
#login-modal .tab-signup {
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
  transform: translateX(110%);
}
#login-modal .tab-forgot-password {
  -webkit-transform: translatex(200%);
  -moz-transform: translatex(200%);
  -ms-transform: translatex(200%);
  -o-transform: translatex(200%);
  transform: translatex(200%);
}
#login-modal .tab-login.active,
#login-modal .tab-signup.active,
#login-modal .tab-forgot-password.active {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  z-index: 99;
}
#login-modal .contents {
  max-width: 280px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
#login-modal .contents .modal-logo-container {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  color: #fff;
  margin-top: 50%;
}
#login-modal .tab button{
  position: relative;
  width: 100%;
  margin-bottom: 10px !important;
  padding: 15px 5px !important;
}
#login-modal .tab .login-modal-additional-link{
  text-align: right;
}
#login-modal .tab .login-modal-bottom{
  text-align: center;
  position: absolute;
  bottom: 0;
  background: transparent;
  padding: 10px 0px;
  display: block;
  margin-left: -10px;
  width: 100%;
  font-weight: 100;
  font-size: 13px;
}
.background-overlay{
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
}
.background-overlay-dark{
  display: block;
  position: absolute;
  width:100%;
  height: 100%;
  text-align: center;
  background-color: #0f0e0e;
  -khtml-opacity: 0.35;
  -moz-opacity: 0.35;
  opacity: 0.35;
}
.brand-logo .sr-only .default-color {
  color: #984BFC;
}
.brand-logo .sr-only {
  clip: initial;
  width: 250px;
  height: 40px;
  font-size: 25px;
}
.sliding-middle-out span{
  padding: 10px 0px;
  display: block;
}
.sliding-middle-out{
  display: inline-block;
  position: relative;
  padding: 0px 15px !important;
}
.sliding-middle-out:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0px;
  background: transparent;
  transition: width .25s ease, background-color .25s ease;
}
.sliding-middle-out:hover:after {
  width: 100%;
  background: #009c95;
}

.button .ripple {
  z-index: -1;
  background-color: #010c14;
}
.button {
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.button, .button:hover, .button:active, .button:focus {
  text-decoration: none;
  outline: none;
}
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button .ripple {
  z-index: -1;
}

.static-header { background: url('../img/background/particle-bg.png') no-repeat center center; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover; background-attachment: fixed; min-height: 400px; position: relative; }
.register-version.static-header {
  width: 100%;
  height: 450px;
  background-position: center;
  background-image: url('https://assets-0.housingcdn.com/website/images/home_page/homepage_new-43ae7ae2339ab31362e1e3d8749b5556.jpg');
  background-size: cover;
  position: relative;
  background-attachment: scroll;
}
.register-version.static-header::before {
  position: absolute;;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.2);
}
