<navbar></navbar>

<div style="height:2000px">
  <div id="hero" class="static-header register-version">
    <span class = "home-navbar-gradient"></span>
    <div id="searchFormContainer">
    	<div class="search-form-container">
			<form action="/search" method="get" class="col-md-8 col-md-offset-2 ui action input search-form" ng-submit="processSearch($event)">
			  <!-- <input type="text" name="topic" ng-model="search.topic" placeholder="Enter topic or subject...."> -->
        <div class="search-text-input" ng-class="{'loading': specialization.loadingResults}">
          <input type="text" ng-model="search.topic" placeholder="Enter topic or subject..." uib-typeahead="topic for topic in getTopicList($viewValue)" typeahead-loading="loading" typeahead-no-results="noResults">
        </div>
			  <select class="ui compact selection dropdown" name="level" ng-model="search.level">
			    <option value="Basic" ng-selected="true">Class 6-8</option>
			    <option value="Intermediate">Class 9-10</option>
          <option value="Advanced">Class 11-12</option>
			    <option value="Others">Non-Academic</option>
			  </select>
			  <div type="submit" class="ui green button" ng-click="processSearch($event)">
			  	<i class="search icon"></i> Search
			  </div>
			</form>
    	</div>
    </div>
    <div id="stepsContainer">
	    <div class="col-md-8 col-md-offset-2">
			<div class="ui three steps">
        <div class="active step">
          <i class="search icon"></i>
          <div class="content">
            <div class="title">Search</div>
            <div class="description">Search for teachers with<br> subject or topics you need<br> help with.</div>
          </div>
        </div>

        <div class="active step">
          <i class="users icon"></i>
          <div class="content">
            <div class="title">Schedule</div>
            <div class="description">Choose the best teachers <br>from the list of industy <br>experts and schedule a class.</div>
          </div>
        </div>

        <div class="active step">
          <i class="laptop icon"></i>
          <div class="content">
            <div class="title">Learn</div>
            <div class="description">Learn from the expert over<br> video chat with the <br>comfort of home.</div>
          </div>
        </div>
        
			</div>
	    </div>
    </div>
  </div>
</div>
