<modal id = "login-modal">
  <i class="remove icon" ng-click = "closeDialog()"></i>
  <div class = "modal-content">
    <div class = "background-container">
      <div class = "contents">
        <div class = "modal-logo-container">
          TakhShila
        </div>
      </div>
    </div>

    <div class = "tab tab-forgot-password active">
      <div class="ui center aligned basic segment">
        <div class="heading-text">
          Enter One Time Password
        </div>
        <p>
          One Time Password (OTP) has been sent to your mobile number, please enter the same here to register.
        </p>
        <div class="ui form">
          <form class="" name = "verifyOTPForm" novalidate>
            <div class="field form-error" ng-class = "{'has-error': loginError}">
              <div class="help-block">
                  <p>{{verifyOtpErrorMessage}}</p>
              </div>
            </div>
            <div class="field" ng-class = "{'has-error': verifyOTPForm.otp.$invalid && verifyOTPForm.otp.$touched}">
              <lx-text-field label="OTP" error = "verifyOTPForm.otp.$invalid && verifyOTPForm.otp.$touched">
                  <input name = "otp" type="text" ng-model="verifyOTPFormData.otp" required>
              </lx-text-field>
              <div class="help-block" ng-messages="verifyOTPForm.otp.$error" ng-if="verifyOTPForm.otp.$touched">
                  <p ng-message="pattern">Invalid OTP.</p>
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>
            <br>
            <button ng-init = "verifying = false" ng-click = "verifyOtp(verifyOTPForm)" ng-class = "{'loading': verifying}" ng-disabled="verifying" class="ui button primary" lx-ripple>Verify</button>
        </form>
        </div>
      </div>
    </div>

  </div>
</modal>
