<navbar></navbar>

<md-content id="register-login" class="md-padding">
	<md-card class="register-card">
		<md-card-content>
			<div class = "tab tab-signup" ng-class = "{'active': current == 'signup'}">
				<div class="ui basic segment">
					<div ng-if="giftFrom">
						<h2 class="md-title">Admin Login Portal</h2>
					</div>
					<div class="ui form">
						<form class="" name = "loginForm" novalidate autocomplete="off">
							<div class="field form-error" ng-if = "loginError">
								<div class="ui red message">{{loginErrorMessage}}</div>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm="40" flex-xs="100">
									<label>Country</label>
									<md-select ng-model="selectedCountry">
										<md-option ng-repeat="country in countries" ng-value="country">
											{{country.name}}
										</md-option>
									</md-select>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm="60" flex-xs="100">
									<label>Phone Number</label>
									<input name="phone" ng-model="loginFormData.phone" required ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
									<div ng-messages="loginFormData.phone.$error" role="alert" multiple>
										<div ng-message="required" class="my-message">Required.</div>
										<div ng-message="md-maxlength" class="my-message">
											Invalid phone number.
										</div>
										<div ng-message="pattern" class="my-message">
											Invalid phone number.
										</div>
									</div>
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm="100" flex-xs="100">
									<label>Password</label>
									<input name="password" ng-model="loginFormData.password" type="password" md-maxlength="30" required>
									<div ng-messages="loginFormData.password.$error" role="alert" multiple>
										<div ng-message="required" class="my-message">You must enter the password.</div>
										<div ng-message="md-maxlength" class="my-message">
											Password seems to be too long.
										</div>
									</div>
								</md-input-container>
							</div>

							<br>

							<button ng-init = "logging = false" ng-click = "validate(loginForm)" ng-disabled="logging" ng-class = "{'loading': logging}" class="ui button primary" lx-ripple>Login</button>
							<div class = "row">
								<div class = "col-md-12 col-sm-12 col-xs-12 login-modal-additional-link">
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class = "login-modal-bottom text-center"></div>
			</div>
		</md-card-content>
	</md-card>
</md-content>
