<navbar></navbar>

<md-content id="register-login" class="md-padding">
	<md-card class="register-card">
		<md-card-content>
			<div class = "tab tab-signup" ng-class = "{'active': current == 'signup'}">
				<div class="ui basic segment">
					<div ng-if="giftFrom">
						<h2 class="md-title">First class free upto ₹500</h2>
						<div class="heading-text">
							Sign up to claim your gift from {{giftFrom}}
						</div>
					</div>
					<div ng-if="!giftFrom">
						<h2 class="heading-text">Sign Up to start learning.</h2>
					</div>
					<div class="ui form">
						<form class="" name = "registerForm" novalidate>
							<div class="field form-error" ng-if = "registerError">
								<div class="ui red message">{{registerErrorMessage}}</div>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm="50" flex-xs="100">
									<label>First name</label>
									<input name="firstName" ng-model="registerFormData.name.firstName" name="" required md-maxlength="30">
									<div ng-messages="registerFormData.name.firstName.$error" role="alert" multiple>
										<div ng-message="required" class="my-message">Required.</div>
										<div ng-message="md-maxlength" class="my-message">
											Name is too long.
										</div>
									</div>
								</md-input-container>
								<md-input-container class="md-block" flex-gt-sm="50" flex-xs="100">
									<label>Last Name</label>
									<input name="lastName" ng-model="registerFormData.name.lastName" required md-maxlength="30">
									<div ng-messages="registerFormData.name.lastName.$error" role="alert" multiple>
										<div ng-message="required" class="my-message">Required.</div>
										<div ng-message="md-maxlength" class="my-message">
											Name is too long.
										</div>
									</div>
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm="40" flex-xs="100">
									<label>Country</label>
									<md-select ng-model="selectedCountry" required>
										<md-option ng-repeat="country in countries" ng-value="country">
											{{country.name}}
										</md-option>
									</md-select>
								</md-input-container>

								<md-input-container class="md-block" flex-gt-sm="60" flex-xs="100">
									<label>Phone Number</label>
									<input name="phone" ng-model="registerFormData.phone" required ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
									<div ng-messages="registerFormData.phone.$error" role="alert" multiple>
										<div ng-message="required" class="my-message">Required.</div>
										<div ng-message="md-maxlength" class="my-message">
											Invalid phone number.
										</div>
										<div ng-message="pattern" class="my-message">
											Invalid phone number.
										</div>
									</div>
								</md-input-container>
							</div>

							<div layout-gt-sm="row">
								<md-input-container class="md-block" flex-gt-sm="100" flex-xs="100">
									<label>Password</label>
									<input name="password" ng-model="registerFormData.password" type="password" md-maxlength="30" required>
									<div ng-messages="registerFormData.phone.$error" role="alert" multiple>
										<div ng-message="required" class="my-message">You must enter the password.</div>
										<div ng-message="md-maxlength" class="my-message">
											Password seems to be too long.
										</div>
									</div>
								</md-input-container>
							</div>

							<button ng-init = "logging = false" ng-click = "signUp(registerForm)" ng-disabled="logging" ng-class = "{'loading': logging}" class="ui button primary" lx-ripple>Sign Up</button>
						</form>
					</div>
				</div>
				<div class = "login-modal-bottom text-center">
					<div class="ui horizontal divider">
						&nbsp;
					</div>
					Already have an account? <a ng-href = "#" ng-click = "showLoginModal($event)">Login</a>
				</div>
			</div>
		</md-card-content>
	</md-card>
</md-content>
