.footer{
    padding-top: 30px !important;
    margin-top: 80px !important;
    border-top: 3px solid #00918b !important;
	.link,
	.header{
		font-family: 'Roboto', sans-serif !important;
		font-size: 20px !important;
		font-weight: 200;
	}
	.header{
		font-weight: 400 !important;
	}
	.ui.divider{
		margin: 0px auto !important;
	}
	a.copyright{
		font-weight: 700 !important;
		color: #fff;
		text-align: center;
	}
}