#register-login{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background: transparent;
	.login-card,
	.register-card {
		
		max-width: 500px;
		margin: 0 auto;
		border: 0px;
		box-shadow: none;
	}
	.md-title{
		font-family: 'Roboto', sans-serif;
		font-size: 32px;
		font-weight: 400;
		text-align: center;
		margin: 0px;
		line-height: 1.5;
	}
	.heading-text{
		font-family: 'Roboto', sans-serif;
		font-size: 25px;
		text-align: center;
		font-weight: 100;
		margin: 10px 0px 20px 0px;
	}
	md-input-container label:not(.md-no-float):not(.md-container-ignore), md-input-container .md-placeholder{
		font-weight: 400;
	}
	.message{
		margin-bottom: 35px;
		font-size: 13px;
	}
	button{
		width: 100%;
		text-align: center;
	}
}

.love-message {
  margin-top: 64px;
  text-align: center;
}
//
// 
