input:-webkit-autofill { -webkit-box-shadow:0 0 0 500px white inset; }
md-dialog.md-default-theme, md-dialog{
  border-radius: 0px;
  background: none;
}
#login-modal{
  height: 520px;
  width: 620px;
}
#login-modal .form-error p{
  text-align: center;
  margin-top: 10px;
}
#login-modal .modal-content{
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: absolute;
  top: 0;
}
#login-modal .heading-text{
  font-size: 18px;
  margin-bottom: 10px;
  text-align: left;
  padding: 10px;
  padding-left: 0px;
}
#login-modal p{
  font-size: 13px;
  text-align: left;
  font-weight: 100;
}
#login-modal .heading-text i{
  float: left;
  cursor: pointer;
  margin-right: 10px;
  font-size: 30px;
  font-weight: 100;
  line-height: 18px;
  margin-left: -10px;
}
#login-modal .tab-default {
  text-align: center;
  white-space: nowrap;
}
#login-modal .tab {
  background: #fff;
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  left: 280px;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: .4s all;
  -o-transition: .4s all;
  transition: .4s all;
  z-index: 9;
}
#login-modal .background-container {
  width: 280px;
  height: 100%;
  background-image: url('../../assets/images/background/particle-bg.png');
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;
}
#login-modal .tab-login,
#login-modal .tab-signup {
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
  transform: translateX(110%);
}
#login-modal .tab-forgot-password {
  -webkit-transform: translatex(200%);
  -moz-transform: translatex(200%);
  -ms-transform: translatex(200%);
  -o-transform: translatex(200%);
  transform: translatex(200%);
}
#login-modal .tab-login.active,
#login-modal .tab-signup.active,
#login-modal .tab-forgot-password.active {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  z-index: 99;
}
#login-modal .contents {
  max-width: 280px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}
#login-modal .contents .modal-logo-container {
  text-align: center;
  font-size: 35px;
  font-weight: 100;
  color: #fff;
  margin-top: 50%;
}
#login-modal .tab button{
  position: relative;
  width: 100%;
  margin-bottom: 10px !important;
  padding: 15px 5px !important;
  margin-top: 10px;
}
#login-modal .tab .login-modal-additional-link{
  text-align: right;
}
#login-modal .tab .login-modal-bottom{
  text-align: center;
  position: absolute;
  bottom: 0;
  background: transparent;
  padding: 10px 0px;
  display: block;
  margin-left: -10px;
  width: 100%;
  font-weight: 100;
  font-size: 13px;
}
#login-modal .remove{
  position: absolute;
  right: 0px;
  top: 5px;
  z-index: 999;
  font-size: 20px;
  cursor: pointer;
}
.withCountryDropdown{
  .inputCountrySelector{
    display: inline-block;
    width: 25%;
    a{
      &.ui{
        &.label{
          background-color: transparent;
          border: 0px;
          color: rgba(0, 0, 0, 0.6);
          background-image: none;
          &:hover{
            background-color: transparent;
            border: 0px;
            color: rgba(0, 0, 0, 0.6);
            background-image: none;
          }
        }
      }
    }
    ul{
      overflow-x: hidden;
      &.dropdown-menu{
        height: 250px;
        text-align: left;
        width: 290px;
        overflow-y: scroll;
        li{
          padding: 5px;
          &:hover{
            background: #f5f5f5;
          }
          .countryCodeContainer{
            display: inline-block;
            width: 20%;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .countryNameContainer{
            display: inline-block;
            width: 76%;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
  label{
    left: 26%;
  }
  input{
    display: inline-block;
    width: 73%;
  }
}