<modal id = "login-modal">
  <i class="remove icon" ng-click = "closeDialog()"></i>
  <div class = "modal-content">
    <div class = "background-container">
      <div class = "contents">
        <div class = "modal-logo-container">
          TakhShila
        </div>
      </div>
    </div>

    <div class = "tab tab-default" ng-class = "{'active': current == 'default'}">
      <div class="ui center aligned basic segment">
        <button class="ui facebook button" lx-ripple>
          <i class="facebook icon"></i>
          Login with Facebook
        </button>
        <br>
        <button class="ui google plus button" lx-ripple>
          <i class="google plus icon"></i>
          Login with Google Plus
        </button>
        <div class="ui horizontal divider">
          Or
        </div>
        <div class="ui form">
          <form class="" name = "loginForm" novalidate>
            <div class="field" ng-class = "{'has-error': loginForm.email.$invalid && loginForm.email.$touched}">
              <lx-text-field label="Email ID" error = "loginForm.email.$invalid && loginForm.email.$touched">
                  <input name = "email" type="email" ng-model="loginFormData.email" ng-pattern="/^.+@.+\..+$/" required>
              </lx-text-field>
              <div class="help-block" ng-messages="loginForm.email.$error" ng-if="loginForm.email.$touched">
                  <p ng-message="pattern">Invalid Email.</p>
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>
            <div class="field" ng-class = "{'has-error': loginForm.password.$invalid && loginForm.password.$touched}">
              <lx-text-field label="Password">
                  <input name = "password" type="password" ng-model="loginFormData.password" required>
              </lx-text-field>
              <div class="help-block" ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>
            <br>
            <button ng-init = "logging = false" ng-click = "logging = !logging" ng-class = "{'loading': logging}" class="ui button primary" lx-ripple>Login</button>
            <div class = "row">
              <div class = "col-md-12 col-sm-12 col-xs-12 login-modal-additional-link">
                <a ng-href = "#" ng-click = "current = 'forgot-password'">Forgot Password ?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class = "login-modal-bottom">
        <div class="ui horizontal divider">
          &nbsp;
        </div>
        New to TakhShila? <a ng-href = "#" ng-click = "current = 'signup'">Sign Up</a>
      </div>
    </div>

    <div class = "tab tab-signup" ng-class = "{'active': current == 'signup'}">
      <div class="ui center aligned basic segment">
        <div class="heading-text">
          <i class="angle left icon" ng-click = "current = 'default'"></i>
          Sign Up With Your Email
        </div>
        <div class="ui form">
          <form class="" name = "registerForm" novalidate>
            <div class="field" ng-class = "{'has-error': registerForm.firstName.$invalid && registerForm.firstName.$touched}">
              <lx-text-field label="First Name" error = "registerForm.firstName.$invalid && registerForm.firstName.$touched">
                  <input name = "firstName" type="text" ng-model="registerFormData.name.firstName" required>
              </lx-text-field>
              <div class="help-block" ng-messages="registerForm.firstName.$error" ng-if="registerForm.firstName.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
              <lx-text-field label="Last Name" error = "registerForm.lastName.$invalid && registerForm.lastName.$touched">
                  <input name = "lastName" type="text" ng-model="registerFormData.name.lastName" required>
              </lx-text-field>
              <div class="help-block" ng-messages="registerForm.lastName.$error" ng-if="registerForm.lastName.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
              <div class="clear clearfix"></div>
            </div>
            <div class="field" ng-class = "{'has-error': registerForm.email.$invalid && registerForm.email.$touched}">
              <lx-text-field label="Email ID" error = "registerForm.email.$invalid && registerForm.email.$touched">
                  <input name = "email" type="email" ng-model="registerFormData.email" ng-pattern="/^.+@.+\..+$/" required>
              </lx-text-field>
              <div class="help-block" ng-messages="registerForm.email.$error" ng-if="registerForm.email.$touched">
                  <p ng-message="pattern">Invalid Email.</p>
                  <p ng-message="required">This field is required.</p>
                  <p ng-message="serverError">{{registerForm.email.$error.errorMessage}}</p>
              </div>
            </div>
            <div class="field" ng-class = "{'has-error': registerForm.password.$invalid && registerForm.password.$touched}">
              <lx-text-field label="Password">
                  <input name = "password" type="password" ng-model="registerFormData.password" required>
              </lx-text-field>
              <div class="help-block" ng-messages="registerForm.password.$error" ng-if="registerForm.password.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>
            <button ng-init = "logging = false" ng-click = "signUp(registerForm)" ng-class = "{'loading': logging}" class="ui button primary" lx-ripple>Sign Up</button>
          </form>
        </div>
        <div class = "row">
          <div class = "col-md-12 col-sm-12 col-xs-12 login-modal-additional-link">
            <a ng-href = "#" ng-click = "current = 'forgot-password'">Forgot Password ?</a>
          </div>
        </div>
      </div>
      <div class = "login-modal-bottom">
        <div class="ui horizontal divider">
          &nbsp;
        </div>
        Already have an account? <a ng-href = "#" ng-click = "current = 'default'">Login</a>
      </div>
    </div>

    <div class = "tab tab-forgot-password" ng-class = "{'active': current == 'forgot-password'}">
      <div class="ui center aligned basic segment">
        <div class="heading-text">
          <i class="angle left icon" ng-click = "current = 'default'"></i>
          Retrieve Password
        </div>
        <p>
          Enter the email address associated with your account, and we'll email you a link to reset your password.
        </p>
        <div class="ui form">
          <form class="" name = "forgotPasswordForm" novalidate>
            <div class="field" ng-class = "{'has-error': forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$touched}">
              <lx-text-field label="Email ID" error = "forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$touched">
                  <input name = "email" type="email" ng-model="forgotPasswordFormData.email" ng-pattern="/^.+@.+\..+$/" required>
              </lx-text-field>
              <div class="help-block" ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.email.$touched">
                  <p ng-message="pattern">Invalid Email.</p>
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>
            <br>
            <button ng-init = "reseting = false" ng-click = "reseting = !reseting" ng-class = "{'loading': reseting}" class="ui button primary" lx-ripple>Reset Password</button>
        </form>
        </div>
      </div>
    </div>
  </div>
</modal>
