<modal id = "login-modal">
  <i class="remove icon" ng-click = "closeDialog()"></i>
  <div class = "modal-content">
    <div class = "background-container">
      <div class = "contents">
        <div class = "modal-logo-container">
          TakhShila
        </div>
      </div>
    </div>

    <div class = "tab tab-default" ng-class = "{'active': current == 'default'}">
      <div class="ui basic segment">
        <div class="heading-text">
          Login With Your Email
        </div>
        <div class="ui form">
          <form class="" name = "loginForm" novalidate autocomplete="off">
            <div class="field form-error" ng-class = "{'has-error': loginError}">
              <div class="help-block">
                  <p>{{loginErrorMessage}}</p>
              </div>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="40" flex-xs="100">
                <label>Country</label>
                <md-select ng-model="selectedCountry">
                  <md-option ng-repeat="country in countries" ng-value="country">
                    {{country.name}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="60" flex-xs="100">
                <label>Phone Number</label>
                <input name="phone" ng-model="loginFormData.phone" placeholder=""
                       required ng-pattern="/^[0-9]{10}$/" md-maxlength="10">

                <div ng-messages="loginFormData.phone.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must enter the phone number.</div>
                  <div ng-message="pattern" class="my-message">
                    Invalid phone number.
                  </div>
                  <div ng-message="md-maxlength" class="my-message">
                    Phone number seems to be too long.
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="100" flex-xs="100">
                <label>Password</label>
                <input name="password" ng-model="loginFormData.password" type="password" md-maxlength="30" required>
                <div ng-messages="loginFormData.password.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must enter the password.</div>
                  <div ng-message="md-maxlength" class="my-message">
                    Password seems to be too long.
                  </div>
                </div>
              </md-input-container>
            </div>

            <br>

            <button ng-init = "logging = false" ng-click = "validate(loginForm)" ng-class = "{'loading': logging}" class="ui button primary" lx-ripple>Login</button>
            <div class = "row">
              <div class = "col-md-12 col-sm-12 col-xs-12 login-modal-additional-link">
                <a ng-href = "#" ng-click = "current = 'forgot-password'">Forgot Password ?</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class = "login-modal-bottom">
        <div class="ui horizontal divider">
          &nbsp;
        </div>
        New to TakhShila? <a ng-href = "#" ng-click = "current = 'signup'">Sign Up</a>
      </div>
    </div>

    <div class = "tab tab-signup" ng-class = "{'active': current == 'signup'}">
      <div class="ui basic segment">
        <div class="heading-text">
          <i class="angle left icon" ng-click = "current = 'default'"></i>
          Sign Up With Your Email
        </div>
        <div class="ui form">
          <form class="" name = "registerForm" novalidate>
            <div class="field form-error" ng-class = "{'has-error': registerError}">
              <div class="help-block">
                  <p>{{registerErrorMessage}}</p>
              </div>
            </div>

            <div layout-gt-sm="row">
               <md-radio-group name="userType" ng-model="registerFormData.isTeacher" class="md-block" flex required>
                <label>I am a: </label>
                <md-radio-button flex-gt-sm="50" flex-xs="100" ng-value="true" class="md-primary" >
                  Teacher
                </md-radio-button>
                &nbsp;&nbsp;&nbsp;
                <md-radio-button flex-gt-sm="50" flex-xs="100" ng-value="false" class="md-primary" >
                  Student
                </md-radio-button>
                <div ng-messages="registerFormData.name.userType.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">Required.</div>
                </div>
              </md-radio-group>
<!--               <md-radio-group ng-model="data.group1">

                <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
                <md-radio-button value="Banana"> Banana </md-radio-button>
                <md-radio-button value="Mango">Mango</md-radio-button>

              </md-radio-group> -->
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="50" flex-xs="100">
                <label>First name</label>
                <input name="firstName" ng-model="registerFormData.name.firstName" name="" required md-maxlength="30">
                <div ng-messages="registerFormData.name.firstName.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">Required.</div>
                  <div ng-message="md-maxlength" class="my-message">
                    Name is too long.
                  </div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex-gt-sm="50" flex-xs="100">
                <label>Last Name</label>
                <input name="lastName" ng-model="registerFormData.name.lastName" required md-maxlength="30">
                <div ng-messages="registerFormData.name.lastName.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">Required.</div>
                  <div ng-message="md-maxlength" class="my-message">
                    Name is too long.
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="40" flex-xs="100">
                <label>Country</label>
                <md-select ng-model="selectedCountry">
                  <md-option ng-repeat="country in countries" ng-value="country">
                    {{country.name}}
                  </md-option>
                </md-select>
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm="60" flex-xs="100">
                <label>Phone Number</label>
                <input name="phone" ng-model="registerFormData.phone" placeholder=""
                       required ng-pattern="/^[0-9]{10}$/" md-maxlength="10">

                <div ng-messages="registerFormData.phone.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must enter the phone number.</div>
                  <div ng-message="pattern" class="my-message">
                    Invalid phone number.
                  </div>
                  <div ng-message="md-maxlength" class="my-message">
                    Phone number seems to be too long.
                  </div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-block" flex-gt-sm="100" flex-xs="100">
                <label>Password</label>
                <input name="password" ng-model="registerFormData.password" type="password" md-maxlength="30" required>
                <div ng-messages="registerFormData.phone.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must enter the password.</div>
                  <div ng-message="md-maxlength" class="my-message">
                    Password seems to be too long.
                  </div>
                </div>
              </md-input-container>
            </div>

            <button ng-init = "logging = false" ng-click = "signUp(registerForm)" ng-class = "{'loading': logging}" class="ui button primary" lx-ripple>Sign Up</button>
          </form>
        </div>
        <div class = "row">
          <div class = "col-md-12 col-sm-12 col-xs-12 login-modal-additional-link">
            <a ng-href = "#" ng-click = "current = 'forgot-password'">Forgot Password ?</a>
          </div>
        </div>
      </div>
      <div class = "login-modal-bottom">
        <div class="ui horizontal divider">
          &nbsp;
        </div>
        Already have an account? <a ng-href = "#" ng-click = "current = 'default'">Login</a>
      </div>
    </div>

    <div class = "tab tab-forgot-password" ng-class = "{'active': current == 'forgot-password'}">
      <div class="ui center aligned basic segment">
        <div class="heading-text">
          <i class="angle left icon" ng-click = "current = 'default'"></i>
          Retrieve Password
        </div>
        <p>
          Enter the email address associated with your account, and we'll email you a link to reset your password.
        </p>
        <div class="ui form">
          <form class="" name = "forgotPasswordForm" novalidate>
            <div class="field" ng-class = "{'has-error': forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$touched}">
              <lx-text-field label="Email ID" error = "forgotPasswordForm.email.$invalid && forgotPasswordForm.email.$touched">
                  <input name = "email" type="email" ng-model="forgotPasswordFormData.email" ng-pattern="/^.+@.+\..+$/" required>
              </lx-text-field>
              <div class="help-block" ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.email.$touched">
                  <p ng-message="pattern">Invalid Email.</p>
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>
            <br>
            <button ng-init = "reseting = false" ng-click = "reseting = !reseting" ng-class = "{'loading': reseting}" class="ui button primary" lx-ripple>Reset Password</button>
        </form>
        </div>
      </div>
    </div>

    <div class = "tab tab-forgot-password" ng-class = "{'active': current == 'verify-otp'}">
      <div class="ui center aligned basic segment">
        <div class="heading-text">
          <i class="angle left icon" ng-click = "current = 'default'"></i>
          Enter One Time Password
        </div>
        <p>
          One Time Password (OTP) has been sent to your mobile number, please enter the same here to register.
        </p>
        <div class="ui form">
          <form class="" name = "verifyOTPForm" novalidate>
            <div class="field form-error" ng-class = "{'has-error': loginError}">
              <div class="help-block">
                  <p>{{verifyOtpErrorMessage}}</p>
              </div>
            </div>
            <div class="field" ng-class = "{'has-error': verifyOTPForm.otp.$invalid && verifyOTPForm.otp.$touched}">
              <lx-text-field label="OTP" error = "verifyOTPForm.otp.$invalid && verifyOTPForm.otp.$touched">
                  <input name = "otp" type="text" ng-model="verifyOTPFormData.otp" required>
              </lx-text-field>
              <div class="help-block" ng-messages="verifyOTPForm.otp.$error" ng-if="verifyOTPForm.otp.$touched">
                  <p ng-message="pattern">Invalid OTP.</p>
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>
            <br>
            <button ng-init = "verifyingOtp = false" ng-click = "verifyOtp(verifyOTPForm)" ng-class = "{'loading': verifyingOtp}" ng-disabled="verifyingOtp" class="ui button primary" lx-ripple>Verify</button>
        </form>
        </div>
      </div>
    </div>

  </div>
</modal>
