#profile{
  .ui{
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, 0.15);
    &.incomplete-task{
      font-family: 'Roboto', sans-serif;
      border: 0px !important;
      margin-top: 10px;
      .attached.message{
        font-size: 12px;
        font-weight: 400;
        padding: 5px !important;
      }
      .item{
        display: table;
        background: #fff;
        padding: 5px;
        width: 100%;
        font-size: 13px;
        .content{
          display: table-cell;
        }
      }
    }
    md-input-container{
      button{
        &.ui{
          padding: 8px;
          i.icon{
            margin: 0px;
          }
        }
      }
    }
    &.review-container{
      border: 0px;
      border-bottom: 1px solid rgba(34, 36, 38, 0.15);
      .star{
        width: 100px;
        font-size: 1.2em;
        margin-left: 10px;
      }
      .date{
        font-size: 0.9em;
        color: rgba(34, 36, 38, 0.65);
      }
    }
  }
  .ui.card{
    .image{
      border-radius: 0px !important;
    }
  }
  .ui.vertical.steps{
    width: 100%;
  }
  .ui.star{
    border: 0px;
    width: 100%;
    padding: 0.35em 0em;
    font-size: 2em;
  }
  .left{
    .ui{
      &.card{
        .content{
          .description{
            .price-container{
              a{
                position: absolute;
                right: 15px;
              }
              .edit-price-container{
                .labeled{
                  border: 0px;
                  input{
                    &.price-value{
                      width: 65% !important;
                    }
                  }
                  .dropdown{
                    .dropdown-menu{
                      top: 10px;
                      left: -12px;
                      min-width: 0px;
                      li{
                        padding: 5px 24px;
                        &:hover{
                          background: #f5f5f5;
                        }
                      }
                    }
                  }
                }
                .ui{
                  &.buttons{
                    width: 100%;
                    border: 0px;
                    margin-top: 5px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .right{
    .row{
      margin-bottom: 10px;
      .ui{
        &.message{
          padding: 1em 1em;
        }
      }
      .header{
          .title{
            display: inline-block;
            width: 74%;
            text-align: left;
          }
          .action-container{
            display: inline-block;
            width: 25%;
            text-align: right;
            .ui{
              &.buttons{
                border: 0px;
              }
            }
            a{
              cursor: pointer;
              padding: 15px 5px;
            }
          }
      }
      .segment{
        .no-data{
          line-height: 3em;
          cursor: pointer;
          display: block;
        }
        .wrapEditor{
          position: absolute;
          width: 100%;
          background: rgba(255, 255, 255, 0.3);
          height: 100%;
          z-index: 2;
        }
        .editable-area{
          width: 100%;
          min-height: 100px;
          resize: vertical;
          border: 1px solid #eee;
          &:focus{
            outline: none;
            border: 1px solid #ccc;
          }
        }
      }
    }
  }
  .img-container {
    max-width: 800px;
    float: left;
  }

  .preview-container {
    float: right;
  }

  .preview-container img {
    max-width: 200px;
  }
  .fc-widget-content {
      cursor: url(/assets/icons/img-cursor.a1dc679e.png),auto!important;
  }
  #addSpecializationContainer{
    margin-bottom: 10px;
    label{
      font-weight: normal;
    }
    .add-item{
      md-input-container{
        margin: 0px;
        padding: 0px;
      }
      &:first-child{
        md-input-container{
          margin-top: 10px;
        }
      }
    }
    &.ui{
      border: 0px;
      input{
        border-right: 0px;
        border-radius: 0px;
        width: 100%;
        &:focus{
          outline: none;
          border: 1px solid #ccc;
        }
      }
    }
    .btn-group{
      &.dropdown{
        width: 18%;
        a{
          text-transform:capitalize;
        }
      }
      .btn.btn-default.dropdown-toggle{
        width: 100%;
        text-align: left;
        &:hover,
        &:active,
        &:focus{
          background: #fff;
          color: #333;
        }
        .caret{
          position: absolute;
          right: 5px;
          top: 1em;
        }
      }
    }
    .input{
      &.topic{
        border: 0px;
        width: 100%;
        [uib-typeahead-popup].dropdown-menu{
          position: absolute;
          width: 100%;
          margin: 0px;
          padding: 0;
        }
      }
    }
    .search{
      border: 0px;
      width: 100%;
      .results{
        width: 100%;
        top: 80%;
        border-radius: 0px;
        border-top: 0px;
        box-shadow: none;
        display: block;
      }
    }
    .dropdown{
      width: 150px;
      font-size: 1.12em;
      .menu{
        display: block;
      }
      i{
        &.icon{
          position: absolute;
          right: 5px;
          line-height: 1.12em;
        }
      }
    }
    .button{
      padding: 8px;
      margin: 0px 5px;
      &.hidden-visibility{
        visibility: hidden;
      }
      i{
        margin: 0px;
      }
    }
  }
  .education-container{
    .education-item{
      margin-bottom: 20px;
      display: table;
      .education-action-container{
        visibility: hidden;
      }
      &:hover{
        .education-action-container{
          display: table-cell;
          vertical-align: middle;
          visibility: visible;
        }
      }
      span{
        display: table-cell;
        vertical-align: middle;
        &.education-icon{
          width: 10%;
          padding: 5px;
          i{
            font-size: 35px;
            color: #00B5AD;
            line-height: 1;
          }
        }
        &.education-details{
          width: 100%;
          p{
            margin: 0px;
            text-transform: capitalize;
            &.degree-name{
              color: #5D5D5D;
              font-size: 14px;
            }
          }
        }
        &.education-action{
          width: 10%;
          padding-right: 7px;
          i{
            color: #00B5AD;
            cursor: pointer;
            font-size: 18px;
            &.delete{
              font-size: 22px;
            }
          }
        }
      }
    }
  }
}
