<navbar></navbar>
<div class="container" id = "profile">
  <div class="row">
    <div class="col-md-3 col-sm-3 left">
      <div class="ui card">
        <div class="image">
          <img ng-src="{{currentUser.profilePhoto.dataURI}}" ng-click = "uploadProfilePic()">
          <form id = "uploadProfilePicForm">
            <input type="file" id = "uploadProfilePic" onchange="angular.element(this).scope().onFile(this.files[0])" style = "display:none;">
          </form>
          <i class="remove icon" ng-click = "uploadProfilePic()"></i>
        </div>
        <div class="content">
          <a class="header">{{currentUser.name.firstName}}&nbsp;{{currentUser.name.lastName}}</a>
          <div class="meta">
            <span class="date">Joined in 2013</span>
          </div>
          <div class="description">
            Kristy is an art director living in New York.
          </div>
        </div>
        <div class="extra">
          <div class="ui star rating">
            <i class="icon active"></i>
            <i class="icon active"></i>
            <i class="icon active"></i>
            <i class="icon active"></i>
            <i class="icon "></i>
          </div>
        </div>
      </div>
      <div class="ui vertical steps">
        <a class="active step">
          <div class="content">
            <div class="description"><i class="info icon"></i>Details</div>
          </div>
        </a>
        <a class="step">
          <div class="content">
            <div class="description"><i class="info icon"></i>Classes</div>
          </div>
        </a>
        <a class="step">
          <div class="content">
            <div class="description"><i class="info icon"></i>Teachers</div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-9 col-sm-9 right">
      <div class="row">
        <div class="ui attached message">
          <div class="header">
            <span class="title">About {{currentUser.name.firstName}}</span>
            <div class="action-container">
              <a ng-show="!edit.basicInfo.editing" class="edit-action" ng-click="editBasicInfo($event)">
                <i class="write icon"></i>
              </a>
              <div ng-show="edit.basicInfo.editing" class="ui buttons">
                <button class="ui primary button" ng-class = "{'loading': edit.basicInfo.progress}" ng-disabled="edit.basicInfo.progress" ng-click="saveBasicInfo()">Save</button>
                <div class="or"></div>
                <button class="ui button" ng-disabled="edit.basicInfo.progress" ng-click="cancelEditBasicInfo()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <p ng-show="!edit.basicInfo.editing">
            {{currentUser.basicInfo}}
          </p>
          <textarea autofocus class="editable-area" ng-disabled="edit.basicInfo.progress" ng-model="edit.basicInfo.data" ng-show="edit.basicInfo.editing">{{edit.basicInfo.data}}</textarea>
        </div>
      </div>

      <div class="row" ng-if = "currentUser.isTeacher">
        <div class="ui attached message">
          <div class="header">
            <span class="title">Specialization</span>
            <div class="action-container">
              <a ng-show="!edit.specialization.editing" class="edit-action" ng-click="editSpecialization($event)">
                <i class="write icon"></i>
              </a>
              <div ng-show="edit.specialization.editing" class="ui buttons">
                <button class="ui primary button" ng-class = "{'loading': edit.specialization.progress}" ng-disabled="edit.specialization.progress" ng-click="saveSpecialization()">Save</button>
                <div class="or"></div>
                <button class="ui button" ng-disabled="edit.specialization.progress" ng-click="cancelEditSpecialization()">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        <div class="ui segment">
          <p ng-show="!edit.specialization.editing">
            
          </p>
          <div ng-show="edit.specialization.editing">
            
          </div>
        </div>
      </div>

      <div class="row" ng-if = "currentUser.isTeacher">
        <div class="ui attached message">
          <div class="header">
            Demo Videos
          </div>
        </div>
        <div class="ui segment">
          <p ng-click = "uploadVideo()">
            This is the details
          <form id = "uploadVideoForm">
            <input type="file" id = "uploadVideo" onchange="angular.element(this).scope().onVideoSelect(this.files)" style = "display:none;">
          </form>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="ui attached message">
          <div class="header">
            Education
          </div>
        </div>
        <div class="ui segment">
          <p>
            This is the details
          </p>
        </div>
      </div>

      <div class="row">
        <div class="ui attached message">
          <div class="header">
            Experiences
          </div>
        </div>
        <div class="ui segment">
          <p>
            This is the details
          </p>
        </div>
      </div>

      <div class="row" ng-if = "currentUser.isTeacher">
        <div class="ui attached message">
          <div class="header">
            Reviews & Ratings
          </div>
        </div>
        <div class="ui segment">
          <p>
            This is the details
          </p>
        </div>
      </div>

      <div class="row" ng-if = "currentUser.isTeacher">
        <div class="ui attached message">
          <div class="header">
            Availability
            <button class="ui button primary" ng-click = "updateAvailability()">Save</button>
          </div>
        </div>
        <div class="ui segment">
          <p>
            <div ui-calendar="uiConfig.calendar" ng-model="eventSources" calendar = "availabilityCalendar"></div>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
