#profile{
  .ui{
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, 0.15);
  }
  .ui.card{
    .image{
      border-radius: 0px !important;
    }
  }
  .ui.vertical.steps{
    width: 100%;
  }
  .ui.star{
    border: 0px;
    width: 100%;
    padding: 0.35em 0em;
    font-size: 2em;
  }
  .right{
    .row{
      margin-bottom: 10px;
    }
  }
  .img-container {
    max-width: 800px;
    float: left;
  }

  .preview-container {
    float: right;
  }

  .preview-container img {
    max-width: 200px;
  }
}
