#profile{
  .ui{
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, 0.15);
  }
  .ui.card{
    .image{
      border-radius: 0px !important;
    }
  }
  .ui.vertical.steps{
    width: 100%;
  }
  .ui.star{
    border: 0px;
    width: 100%;
    padding: 0.35em 0em;
    font-size: 2em;
  }
  .right{
    .row{
      margin-bottom: 10px;
      .header{
          .title{
            display: inline-block;
            width: 74%;
            text-align: left;
          }
          .action-container{
            display: inline-block;
            width: 25%;
            text-align: right;
            .ui{
              &.buttons{
                border: 0px;
              }
            }
            a{
              cursor: pointer;
              padding: 15px 5px;
            }
          }
      }
      .segment{
        .editable-area{
          width: 100%;
          min-height: 100px;
          resize: vertical;
          border: 1px solid #eee;
          &:focus{
            outline: none;
            border: 1px solid #ccc;
          }
        }
      }
    }
  }
  .img-container {
    max-width: 800px;
    float: left;
  }

  .preview-container {
    float: right;
  }

  .preview-container img {
    max-width: 200px;
  }
  .fc-widget-content {
      cursor: url(/assets/icons/img-cursor.a1dc679e.png),auto!important;
  }
}
