<navbar></navbar>
<div class="container" id = "liveClass">
	<div class="row">
		<div class="video-container">
			<video id="peer-video" class="peer-video" autoplay></video>
			<video id="self-video" class="self-video" autoplay muted="true" volume="0"></video>
			<video id="peer-screen-video" class="peer-screen-video" autoplay muted="true" volume="0"></video>
			<div class="clear"></div>
		</div>
		<div class="video-action-container">
			<button id="shareScreen" class="md-fab md-fab-bottom-left md-button md-ink-ripple ui button green" ng-click="shareScreen()">
				<i class="tv icon"></i>
			</button>
			<button id="toggleView" class="md-fab md-fab-bottom-right md-button md-ink-ripple ui button blue" ng-click="toggleView()">
				<i class="expand icon"></i>
			</button>
		</div>
	</div>
</div>