#liveClass{
	video{
		width: 500px;
		&.self-video,
		&.peer-video{
		    transform: rotateY(180deg);
		    -webkit-transform:rotateY(180deg); /* Safari and Chrome */
		    -moz-transform:rotateY(180deg); /* Firefox */
		}
		&.peer-screen-video{

		}
	}
}