#admin-videos{
	.addVideoForm{
		button{
			border-radius: 0px;
			padding: 10px 40px;
			margin: 15px;
		}
	}
	.ui{
		margin: 0px;
		border-radius: 0px;
		box-shadow: none;
		border: 1px solid rgba(34, 36, 38, 0.15);
		&.segment{
			.video-list{
				p{
					font-size: 14px;
				}
				.video-item{
					padding: 15px;
					border-bottom: 1px solid rgba(34, 36, 38, 0.15);
					&:last-child{
						border: 0px;
					}
				}
				.video-image{
					width: 120px;
					height: 120px;
					cursor: pointer;
					span{
						background-size: cover;
						background-position: center;
						width: 120px;
						height: 120px;
						display: block;
					}
				}
				.video-details{
					div{
						display: block;
						float: left;
						&.video-icon{
							width: 15%;
							i{
								font-size: 45px;
								color: #00B5AD;
								line-height: 0.8;
							}
						}
						&.video-description{
							width: 80%;
						}
					}
				}
			}
			.action-container{
				margin-top: 10px;
				width: 100%;
				text-align: center;
				.ui{
					&.buttons{
						min-width: 200px;
						border: 0px;
					}
				}
			}
		}
	}
}