<navbar></navbar>
<div class="container" id = "class-booking-status">
  <div class="row">
    <div class="col-md-7 col-sm-7 left">

      <div class="row">
		<div class="ui icon success message" ng-if="classBookStatus === 'success'">
			<i class="checkmark icon"></i>
			<div class="content">
				<div class="header">
				Your payment of {{paymentDetails.currency}}&nbsp;{{paymentDetails.totalCost}} was successful.
				</div>
				<p>Request has been sent to {{teacherDetails.name.firstName}} {{teacherDetails.name.lastName}}. You will be notified once the class is confirmed. </p>
			</div>
		</div>
		<div class="ui icon error message" ng-if="classBookStatus === 'failure'">
			<i class="remove icon"></i>
			<div ng-if="paymentStatus === 'success'">
				<div class="content">
					<div class="header">
					Your payment of {{paymentDetails.currency}}&nbsp;{{paymentDetails.totalCost}} was successful but one of the slot requested by you was not available. Please try booking a class with different slot.
					</div>
					<p>The amount deducted will be refunded to your wallet within 48 hours.</p>
				</div>
			</div>
			<div ng-if="paymentStatus === 'failure'">
				<div class="content">
					<div class="header">
					Your payment of {{paymentDetails.currency}}&nbsp;{{paymentDetails.amountPaid}} was unsuccessful. Please try again with different payment method.
					</div>
					<p>If money is deducted from your account, your bank should refund the same in 7 days. Please contact your bank in case of any delay or further queries.</p>
				</div>
			</div>
		</div>
        <div class="ui attached message">
          <div class="header">
            Class Details
          </div>
        </div>
        <div class="ui items">
          <div class="item" ng-repeat="session in classInfo">
            <div class="ui tiny image">
              <img ng-src="{{teacherDetails.profilePhoto.dataURI}}">
            </div>
            <div class="content">
              <span class="header">
                {{teacherDetails.name.firstName}} {{teacherDetails.name.lastName}}
              </span>
              <div class="meta">
                <span class="meta-item">
                  <span class="header">Start Date & Time:</span>
                  {{session.requestedTime.start | amDateFormat:'dddd, MMMM Do \'YY'}}
                </span>
                <span class="meta-item">
                  <span class="header">End Date & Time:</span>
                  {{session.requestedTime.end | amDateFormat:'dddd, MMMM Do \'YY'}}
                </span>
                <span class="meta-item">
                  <span class="header">Amount:</span>
                  {{session.amount.currency}} {{session.amount.totalCost}}
                </span>
              </div>
              <div class="description">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-4 col-sm-4 col-sm-offset-1 col-md-offset-1">
      <div class="row selectedSessionContainer">
        <div class="fixed">
          <div class="ui attached message">
            <div class="header">
              Payment Details
            </div>
          </div>
          <div class="ui segment">
            <div ng-if = "classInfo.length">
              <div class="selectedSession">
                <span class = "sessionDateTime">
                  Total Amount:
                </span>
                <span class = "sessionCost">{{paymentDetails.currency}}&nbsp;{{paymentDetails.totalCost}}</span>
                <div class = "clear"></div>
              </div>
              <div class="selectedSession" ng-if="paymentStatus === 'success'">
                <span class = "sessionDateTime">
                  Wallet Balance Used:
                </span>
                <span class = "sessionCost">{{paymentDetails.currency}}&nbsp;{{paymentDetails.walletBalance}}</span>
                <div class = "clear"></div>
              </div>
              <div class="selectedSession" ng-if="paymentStatus === 'failure'">
                <span class = "sessionDateTime">
                  Wallet Balance Used:
                </span>
                <span class = "sessionCost">{{paymentDetails.currency}}&nbsp;0</span>
                <div class = "clear"></div>
              </div>
              <div class="selectedSession" ng-if="paymentStatus === 'success'">
                <span class = "sessionDateTime">
                  Total Amount Paid:
                </span>
                <span class = "sessionCost">{{paymentDetails.currency}}&nbsp;{{paymentDetails.amountPaid}}</span>
                <div class = "clear"></div>
              </div>
              <div class="selectedSession" ng-if="paymentStatus === 'failure'">
                <span class = "sessionDateTime">
                  Total Amount Paid:
                </span>
                <span class = "sessionCost">{{paymentDetails.currency}}&nbsp;0</span>
                <div class = "clear"></div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class = "clear"></div>
  </div>
</div>
