
 .input-file {
   position: relative;
   padding-top: 32px;
   padding-bottom: 8px; }
   .input-file:before, .input-file:after {
     content: ''; }
   .input-file:before {
     position: absolute;
     right: 0;
     bottom: 7px;
     left: 0;
     height: 1px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
   .input-file:after {
     position: absolute;
     right: 0;
     bottom: 6px;
     left: 0;
     height: 2px;
     background-color: #2196F3;
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     transform: scale(0);
     -webkit-transition-property: -webkit-transform;
     -moz-transition-property: -moz-transform;
     transition-property: transform;
     -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
     transition-duration: 0.6s;
     -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
     -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
     transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

 .input-file--is-active .input-file__label {
   -webkit-transform: scale(0.75) translateY(0);
   -moz-transform: scale(0.75) translateY(0);
   -ms-transform: scale(0.75) translateY(0);
   -o-transform: scale(0.75) translateY(0);
   transform: scale(0.75) translateY(0); }
 .input-file--is-active .input-file__filename {
   opacity: 1; }

 .input-file--is-focused:after {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1); }
 .input-file--is-focused .input-file__label {
   color: #2196F3; }

 .input-file__label {
   display: block;
   position: absolute;
   top: 8px;
   left: 0;
   color: rgba(0, 0, 0, 0.38);
   line-height: 32px;
   pointer-events: none;
   -webkit-transform: translateY(24px);
   -moz-transform: translateY(24px);
   -ms-transform: translateY(24px);
   -o-transform: translateY(24px);
   transform: translateY(24px);
   -webkit-transform-origin: bottom left;
   -moz-transform-origin: bottom left;
   -ms-transform-origin: bottom left;
   -o-transform-origin: bottom left;
   transform-origin: bottom left;
   -webkit-transition-property: -webkit-transform, color;
   -moz-transition-property: -moz-transform, color;
   transition-property: transform, color;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   transition-duration: 0.4s;
   -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

 .input-file__filename {
   display: block;
   height: 32px;
   width: 100%;
   overflow: hidden;
   opacity: 0;
   line-height: 32px;
   text-overflow: ellipsis;
   white-space: nowrap; }

 .input-file__input {
   position: absolute;
   top: 32px;
   left: 0;
   height: 32px;
   width: 100%;
   opacity: 0;
   cursor: pointer; }

 .ripple {
   display: block;
   position: absolute;
   border-radius: 100%;
   opacity: 0.3;
   -webkit-transform: scale(0);
   -moz-transform: scale(0);
   -ms-transform: scale(0);
   -o-transform: scale(0);
   transform: scale(0);
   pointer-events: none; }

 .ripple--is-animated {
   -webkit-animation: ripple 0.65s linear;
   -moz-animation: ripple 0.65s linear;
   animation: ripple 0.65s linear; }

 .text-field {
   position: relative;
   padding-top: 32px;
   padding-bottom: 8px; }
   .text-field:before, .text-field:after {
     content: ''; }
   .text-field:before {
     position: absolute;
     right: 0;
     bottom: 7px;
     left: 0;
     height: 1px;
     border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
   .text-field:after {
     position: absolute;
     right: 0;
     bottom: 6px;
     left: 0;
     height: 2px;
     background-color: #00B5AD;
     -webkit-transform: scale(0);
     -moz-transform: scale(0);
     -ms-transform: scale(0);
     -o-transform: scale(0);
     transform: scale(0);
     -webkit-transition-property: -webkit-transform;
     -moz-transition-property: -moz-transform;
     transition-property: transform;
     -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
     transition-duration: 0.6s;
     -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
     -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
     transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

 .text-field--is-active .text-field__label {
   -webkit-transform: scale(0.75) translateY(0);
   -moz-transform: scale(0.75) translateY(0);
   -ms-transform: scale(0.75) translateY(0);
   -o-transform: scale(0.75) translateY(0);
   transform: scale(0.75) translateY(0);
   color: rgba(0, 0, 0, 0.54); }

 .text-field--is-focused:after {
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1); }
 .text-field--is-focused .text-field__label {
   color: #00B5AD; }
 .text-field--is-focused.text-field--dark-theme .text-field__label {
   color: #00B5AD; }

 .text-field--is-disabled:before {
   border-bottom-style: dashed; }
 .text-field--is-disabled .text-field__label {
   color: rgba(0, 0, 0, 0.38); }
 .text-field--is-disabled .text-field__input {
   color: rgba(0, 0, 0, 0.38);
   cursor: not-allowed; }
 .text-field--is-disabled.text-field--dark-theme .text-field__input {
   color: rgba(255, 255, 255, 0.3); }

 .text-field--has-error:after {
   background-color: #F44336;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1); }
 .text-field--has-error.text-field--is-active .text-field__label {
   color: #F44336; }
 .text-field--has-error.text-field--dark-theme .text-field__label {
   color: #F44336; }

 .text-field--fixed-label {
   padding-top: 8px; }
   .text-field--fixed-label .text-field__label {
     -webkit-transform: none;
     -moz-transform: none;
     -ms-transform: none;
     -o-transform: none;
     transform: none; }
   .text-field--fixed-label.text-field--is-focused .text-field__label {
     color: rgba(0, 0, 0, 0.38); }
   .text-field--fixed-label.text-field--dark-theme.text-field--is-focused .text-field__label {
     color: rgba(255, 255, 255, 0.3); }

 .text-field--label-hidden .text-field__label {
   display: none; }

 .text-field--is-valid .text-field__label {
   color: #4CAF50; }
 .text-field--is-valid:after {
   background-color: #4CAF50;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -ms-transform: scale(1);
   -o-transform: scale(1);
   transform: scale(1); }
 .text-field--is-valid.text-field--dark-theme .text-field__label {
   color: #4CAF50; }

 .text-field--dark-theme:before {
   border-color: rgba(255, 255, 255, 0.3); }

 .text-field--with-icon {
   margin-left: 64px; }

 .text-field__label {
   display: block;
   position: absolute;
   top: 8px;
   left: 0;
   color: rgba(0, 0, 0, 0.38);
   font-weight: 100;
   line-height: 32px;
   pointer-events: none;
   -webkit-transform: translateY(24px);
   -moz-transform: translateY(24px);
   -ms-transform: translateY(24px);
   -o-transform: translateY(24px);
   transform: translateY(24px);
   -webkit-transform-origin: bottom left;
   -moz-transform-origin: bottom left;
   -ms-transform-origin: bottom left;
   -o-transform-origin: bottom left;
   transform-origin: bottom left;
   -webkit-transition-property: -webkit-transform, color;
   -moz-transition-property: -moz-transform, color;
   transition-property: transform, color;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   transition-duration: 0.4s;
   -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
   .text-field--dark-theme .text-field__label {
     color: rgba(255, 255, 255, 0.3); }

 .text-field__input {
   display: block;
   margin: 0;
   padding: 0;
   border: none;
   background-color: transparent;
   box-shadow: none;
   overflow: hidden;
   cursor: text;
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   -o-appearance: none;
   appearance: none;
   width: 100%;
   resize: none;
   font-weight: 400; }
   .text-field__input:focus {
     outline: none; }
   .text-field--dark-theme .text-field__input {
     color: #FFFFFF; }

 input.text-field__input {
   height: 32px;
   line-height: 32px; }

 textarea.text-field__input {
   height: 24px;
   margin: 4px 0; }

 .text-field__icon {
   position: absolute;
   top: 2px;
   left: -68px;
   height: 44px;
   width: 48px;
   line-height: 44px;
   font-size: 24px;
   font-size: 1.5rem;
   color: rgba(0, 0, 0, 0.54);
   text-align: center;
   -webkit-transition-property: color;
   -moz-transition-property: color;
   transition-property: color;
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   transition-duration: 0.4s;
   -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }
   .text-field--dark-theme .text-field__icon {
     color: #FFFFFF; }
   .text-field--is-focused .text-field__icon {
     color: #00B5AD; }
   .text-field--has-error .text-field__icon {
     color: #F44336; }
   .text-field--is-valid .text-field__icon {
     color: #4CAF50; }

 .text-field-error {
   display: block;
   font-size: 12px;
   font-size: 0.75rem;
   color: #F44336; }

 .text-field-help {
   display: block;
   font-size: 12px;
   font-size: 0.75rem;
   color: rgba(0, 0, 0, 0.54); }

 .tooltip {
   position: absolute;
   z-index: 9999;
   border-radius: 2px;
   opacity: 0;
   overflow: hidden;
   pointer-events: none;
   -webkit-transition-property: opacity, -webkit-transform;
   -moz-transition-property: opacity, -moz-transform;
   transition-property: opacity, transform;
   -webkit-transition-duration: 0.6s;
   -moz-transition-duration: 0.6s;
   transition-duration: 0.6s;
   -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

 .tooltip--is-active {
   opacity: 1; }
   .tooltip--is-active.tooltip--top {
     -webkit-transform: translateY(-8px);
     -moz-transform: translateY(-8px);
     -ms-transform: translateY(-8px);
     -o-transform: translateY(-8px);
     transform: translateY(-8px); }
   .tooltip--is-active.tooltip--bottom {
     -webkit-transform: translateY(8px);
     -moz-transform: translateY(8px);
     -ms-transform: translateY(8px);
     -o-transform: translateY(8px);
     transform: translateY(8px); }
   .tooltip--is-active.tooltip--left {
     -webkit-transform: translateX(-8px);
     -moz-transform: translateX(-8px);
     -ms-transform: translateX(-8px);
     -o-transform: translateX(-8px);
     transform: translateX(-8px); }
   .tooltip--is-active.tooltip--right {
     -webkit-transform: translateX(8px);
     -moz-transform: translateX(8px);
     -ms-transform: translateX(8px);
     -o-transform: translateX(8px);
     transform: translateX(8px); }

 .tooltip__background {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: -1;
   border-radius: 50%;
   -webkit-transform: scale(0) translateY(50%);
   -moz-transform: scale(0) translateY(50%);
   -ms-transform: scale(0) translateY(50%);
   -o-transform: scale(0) translateY(50%);
   transform: scale(0) translateY(50%);
   -webkit-transition-property: -webkit-transform;
   -moz-transition-property: -moz-transform;
   transition-property: transform;
   -webkit-transition-duration: 0.6s;
   -moz-transition-duration: 0.6s;
   transition-duration: 0.6s;
   -webkit-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   -moz-transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
   transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1); }

 .tooltip__label {
   display: block;
   padding: 0 8px;
   font-size: 11px;
   font-size: 0.6875rem;
   line-height: 22px;
   white-space: nowrap; }

 .tooltip--black .tooltip__background {
   background-color: #757575; }
 .tooltip--black .tooltip__label {
   color: #FFFFFF; }

 .tooltip--white .tooltip__background {
   background-color: #EEEEEE; }
 .tooltip--white .tooltip__label {
   color: rgba(0, 0, 0, 0.87); }

 .tooltip--top .tooltip__background {
   -webkit-transform: scale(0) translateY(50%);
   -moz-transform: scale(0) translateY(50%);
   -ms-transform: scale(0) translateY(50%);
   -o-transform: scale(0) translateY(50%);
   transform: scale(0) translateY(50%);
   -webkit-transform-origin: center bottom;
   -moz-transform-origin: center bottom;
   -ms-transform-origin: center bottom;
   -o-transform-origin: center bottom;
   transform-origin: center bottom; }

 .tooltip--top.tooltip--is-active .tooltip__background {
   -webkit-transform: scale(3) translateY(50%);
   -moz-transform: scale(3) translateY(50%);
   -ms-transform: scale(3) translateY(50%);
   -o-transform: scale(3) translateY(50%);
   transform: scale(3) translateY(50%); }

 .tooltip--bottom .tooltip__background {
   -webkit-transform: scale(0) translateY(-50%);
   -moz-transform: scale(0) translateY(-50%);
   -ms-transform: scale(0) translateY(-50%);
   -o-transform: scale(0) translateY(-50%);
   transform: scale(0) translateY(-50%);
   -webkit-transform-origin: center top;
   -moz-transform-origin: center top;
   -ms-transform-origin: center top;
   -o-transform-origin: center top;
   transform-origin: center top; }

 .tooltip--bottom.tooltip--is-active .tooltip__background {
   -webkit-transform: scale(3) translateY(-50%);
   -moz-transform: scale(3) translateY(-50%);
   -ms-transform: scale(3) translateY(-50%);
   -o-transform: scale(3) translateY(-50%);
   transform: scale(3) translateY(-50%); }

 .tooltip--left .tooltip__background {
   -webkit-transform: scale(0) translateX(50%);
   -moz-transform: scale(0) translateX(50%);
   -ms-transform: scale(0) translateX(50%);
   -o-transform: scale(0) translateX(50%);
   transform: scale(0) translateX(50%);
   -webkit-transform-origin: right center;
   -moz-transform-origin: right center;
   -ms-transform-origin: right center;
   -o-transform-origin: right center;
   transform-origin: right center; }

 .tooltip--left.tooltip--is-active .tooltip__background {
   -webkit-transform: scale(3) translateX(50%);
   -moz-transform: scale(3) translateX(50%);
   -ms-transform: scale(3) translateX(50%);
   -o-transform: scale(3) translateX(50%);
   transform: scale(3) translateX(50%); }

 .tooltip--right .tooltip__background {
   -webkit-transform: scale(0) translateX(-50%);
   -moz-transform: scale(0) translateX(-50%);
   -ms-transform: scale(0) translateX(-50%);
   -o-transform: scale(0) translateX(-50%);
   transform: scale(0) translateX(-50%);
   -webkit-transform-origin: left center;
   -moz-transform-origin: left center;
   -ms-transform-origin: left center;
   -o-transform-origin: left center;
   transform-origin: left center; }

 .tooltip--right.tooltip--is-active .tooltip__background {
   -webkit-transform: scale(3) translateX(-50%);
   -moz-transform: scale(3) translateX(-50%);
   -ms-transform: scale(3) translateX(-50%);
   -o-transform: scale(3) translateX(-50%);
   transform: scale(3) translateX(-50%); }
