#userProfile{
  .userInfoContainer{
    .ui.segment{
      margin: 0px;
      padding: 0px;
      .ui.card{
        border: 0px;
      }
      .imageContainer{
        margin: 0px;
        padding: 0px;
        .ui.card{
          border: 0px;
          border-right: 1px solid rgba(34, 36, 38, 0.15);
        }
      }
    }
  }
  #demoVideosContainer{
    .arrow{
      position: absolute;
      z-index: 9;
      top: 0px;
      top: 45%;
      font-size: 5em;
      i{
        width: auto;
      }
    }
    #next{
      right: 0px;
    }
    #prev{
      left: 5px;
    }
    .slider-item-container{
      overflow: hidden;
      margin-left: 20px;
      margin-right: 20px;
      #video-slides-container{
        -webkit-transition: left .5s ease-in-out;
        transition: left .5s ease-in-out;
        .video{
          .video-slider-overlay-container{
            position: absolute;
            width: 100%;
            height: 100%;
            background: transparent;
            display: none;
            .video-slider-overlay{
              background: rgba(0,0,0,0.4);
              position: absolute;
              width: 100%;
              height: 100%;
              display: table;
              i{
                &.play-icon{
                  position: absolute;
                  display: block;
                  width: 50px;
                  height: 50px;
                  top: 50%;
                  left: 50%;
                  margin-top: -25px;
                  margin-left: -25px;
                  background-image: url('../assets/iconsets/play-icons.svg');
                }
              }
            }
          }
          &:hover{
            .video-slider-overlay-container{
              display: block;
            }
          }
        }
      }
      .ui{
        border: 0px;
        position: relative;
        &.cards{
          flex-wrap: nowrap;
          .card{
            width: 100%;
            .image{
              width: 100%;
              height: 100%;
              span{
                background-size: cover;
                background-position: center;
                width: 200px;
                height: 200px;
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .education-container{
    .education-item{
      margin-bottom: 20px;
      display: table;
      span{
        display: table-cell;
        vertical-align: middle;
        &.education-icon{
          width: 10%;
          padding: 5px;
          i{
            font-size: 35px;
            color: #00B5AD;
            line-height: 1;
          }
        }
        &.education-details{
          width: 100%;
          p{
            margin: 0px;
            text-transform: capitalize;
            &.degree-name{
              color: #5D5D5D;
              font-size: 14px;
            }
          }
        }
        &.education-action{
          width: 10%;
          padding-right: 7px;
          i{
            color: #00B5AD;
            cursor: pointer;
            font-size: 18px;
          }
        }
      }
    }
  }
  .selectedSession{
    padding: 10px 0px;
    margin-top: 10px;
    border-bottom: 1px dashed rgba(34, 36, 38, 0.15);
  }
  .sessionDateTime{
    width: 65%;
    float: left;
  }
  .sessionCost{
    width: 32%;
    float: right;
    text-align: right;
    font-weight: bold;
  }
  .ui{
    margin: 0px;
    border-radius: 0px;
    box-shadow: none;
    border: 1px solid rgba(34, 36, 38, 0.15);
  }
  .ui.card{
    .image{
      border-radius: 0px !important;
    }
  }
  .ui.vertical.steps{
    width: 100%;
  }
  .ui.star{
    border: 0px;
    width: 100%;
    padding: 0.35em 0em;
    font-size: 2em;
  }
  .left{
    .row{
      margin-bottom: 10px;
    }
  }
  .img-container {
    max-width: 800px;
    float: left;
  }

  .preview-container {
    float: right;
  }

  .preview-container img {
    max-width: 200px;
  }

  .fc .fc-toolbar > * > :first-child {
      margin-left: 0;
      font-weight: 100;
      font-size: 18px;
      letter-spacing: 3px;
  }
  .fc .fc-axis {
      padding: 2px 30px;
  }
  .fc-head-container.fc-widget-header{
    border: 0px;
    .fc-row.fc-widget-header{
      border: 0px;
    }
    table th,
    table td{
      border: 0px;
      &.fc-day-header{
        padding: 20px;
        font-weight: 100;
      }
    }
  }

  .fc-ltr .fc-time-grid .fc-event-container{
    margin: 0px;
  }
  .fc-time-grid .fc-slats td {
      height: 2.5em;
  }
  .fc-time-grid-event .fc-content {
      overflow: hidden;
      text-align: center;
      font-size: 18px;
      z-index: -1;
  }
  .fc-time-grid .fc-event,
  .fc-time-grid .fc-bgevent{
    border: 0px;
    margin: 1px;
    padding: 5px;
    // border-radius: 0px;
    .fc-bg{
      background: transparent;
      cursor: pointer;
      opacity: 0;
    }
    &.available{
      background: #40E4C3;
      opacity: 1;
      .fc-bg:hover{
        background: #129DFA;
        opacity: 0.75;
      }
    }
    &.requested{
      background-color: #E7E7E7;
      background-image: repeating-linear-gradient(45deg,transparent,transparent 10px,#fff 0,#fff 15px);
      opacity: 1;
      .fc-bg{
        cursor: default;
      }
    }
    &.booked{
      background: #DB2828;
      opacity: 0.8;
    }
    &.active{
      background: #129DFA;
      opacity: 1;
    }
  }
  .fc-time-grid-event.fc-short .fc-time, .fc-time-grid-event.fc-short .fc-title{
    display: none;
  }
  .fc-event.active .fc-bg:hover,
  .fc-event.active .fc-bg:active{
    background: #129DFA;
  }

  .right{
    .selectedSessionContainer{
      width: 100%;
      float: right;
      .fixed{
        width: 27%;
        position: fixed;
      }
    }
  }
  .bookClassButtonContainer{
    margin: 10px 0px;
    display: block;
    button{
      width: 100%;
      margin: 5px 0px;
    }
  }
}
.no-info{
  padding: 10%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #a9a9a9;
  .text{
    margin-bottom: 10px;
    display: block;
  }
  .button{
    button{
      width: 68%;
      margin: 5px 0px !important;
    }
  }
}
