<navbar></navbar>

<md-content id="register-login" class="md-padding">
    <md-card class="register-card">
      <md-card-content>
        <div class = "tab tab-forgot-password" ng-class = "{'active': current == 'verify-otp'}">
          <div class="ui basic segment">
            <div class="heading-text">
              Retrieve Password
            </div>
            <p>
              Please enter your phone number where we can send OTP to reset your password.
            </p>
            <div class="ui form">
              <form class="" name = "sendOTPForm" novalidate>
                <div class="field form-error" ng-class = "{'has-error': loginError}">
                  <div class="help-block">
                      <p>{{sendOTPErrorMessage}}</p>
                  </div>
                </div>
                <div layout-gt-sm="row">
                  <md-input-container class="md-block" flex-gt-sm="30" flex-xs="100">
                    <label>Country</label>
                    <md-select ng-model="selectedCountry" required>
                      <md-option ng-repeat="country in countries" ng-value="country">
                        {{country.name}}
                      </md-option>
                    </md-select>
                  </md-input-container>

                  <md-input-container class="md-block" flex-gt-sm="70" flex-xs="100">
                    <label>Phone Number</label>
                    <input name="phone" ng-model="sendOTPFormData.phone" required ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
                    <div ng-messages="sendOTPFormData.phone.$error" role="alert" multiple>
                      <div ng-message="required" class="my-message">Required.</div>
                      <div ng-message="md-maxlength" class="my-message">
                        Invalid phone number.
                      </div>
                      <div ng-message="pattern" class="my-message">
                        Invalid phone number.
                      </div>
                    </div>
                  </md-input-container>
                </div>
                <br>
                <button ng-init = "sendingOTP = false" ng-click = "sendOTP(sendOTPForm)" ng-class = "{'loading': sendingOTP}" ng-disabled="sendingOTP" class="ui button primary" lx-ripple>Send OTP</button>
            </form>
            </div>
          </div>
          <div class = "login-modal-bottom text-center">
            <div class="ui horizontal divider">
              &nbsp;
            </div>
            Not a member? <a ui-sref="signup()">Signup</a>
          </div>
        </div>
      </md-card-content>
    </md-card>
</md-content>
