#searchResults{
	.right{
		.row{
			&.user-container{
				.ui{
					border-radius: 0px;
					&.segment{
						cursor: pointer;
						border: 0px;
						box-shadow: none;
						padding: 0px;
						.imageContainer{
							width: 20%;
							float: left;
							max-width: 160px;
							padding: 0px;
							.ui{
								&.card{
									padding: 0px;
								}
							}
						}
						.aboutContainer{
							width: 80%;
							float: right;
							.ui{
								&.card{
									box-shadow: none;
									padding: 0px;
									.content{
										.header{
											div{
												float: left;
												&.title{
													max-width: 40%;
												}
												&.meta{
													width: 20%;
													padding: 5px 10px;
												}
												&.action{
													width: 40%;
													float: right;
													text-align: right;
												}
												&.clear{
													clear: both;
												}
											}
										}
										.description{
											padding: 15px 0px;
											overflow: hidden;
											text-overflow: ellipsis;
											line-height: 20px;
											max-height: 80px;
											-webkit-line-clamp: 3;
											-webkit-box-orient: vertical;
										}
										#demoVideosContainer{
											#prev{
												left: -10px;
											}
											#next{
												right: -10px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
			.ui{
				&.card{
					width: 100%;
					padding: 10px;
				}
			}
		}
	}
	.left{
		#filtersContainer{
			.row{
				margin-bottom: 10px;
				.ui{
					width: 98%;
				    margin: 0px;
				    border-radius: 0px;
				    box-shadow: none;
				    border: 1px solid rgba(34, 36, 38, 0.15);
				    &.segment{
					    border-top: 0px;
					    padding: 1em 1.5em;
					    .rzslider .rz-selection{
					    	background-image: linear-gradient(116deg,#0699cd,#3bb85c);
					    }
					    .scroll-filter-container{
					    	max-height: 200px;
					    	overflow: hidden;
					    	overflow-y: scroll;
					    	.ui{
					    		&.input{
					    			margin-bottom: 10px;
					    			input{
					    				border: 0px;
					    				border-radius: 0px;
					    			}
					    		}
					    	}
					    	ul{
					    		margin: 0px;
					    		padding: 0px;
					    		li{
					    			margin: 0px;
					    			padding: 0px;
					    			list-style: none;
					    		}
					    	}
					    }
				    }
				}
			}
		}
	}
}