<modal id = "add-bank-account-modal">
  <div class = "modal-header">
    <div class = "title">{{modalTitle}}</div>
    <i class="remove icon" ng-click = "closeDialog()"></i>
  </div>

  <div class = "modal-content">

        <div class="ui form">
          <form class="" name = "addBankAccountForm" novalidate>
            <div class="field form-error" ng-class = "{'has-error': loginError}">
              <div class="help-block">
                  <p>{{errorMessage}}</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addBankAccountForm.name.$invalid && addBankAccountForm.name.$touched}">
              <lx-text-field label="Name" error = "addBankAccountForm.name.$invalid && addBankAccountForm.field.$touched">
                  <input name = "name" type="text" ng-disabled="true" ng-model="addBankAccountFormData.name" required>
              </lx-text-field>
              <div class="help-block" ng-messages="addBankAccountForm.name.$error" ng-if="addBankAccountForm.name.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addBankAccountForm.bankName.$invalid && addBankAccountForm.bankName.$touched}">
              <lx-text-field label="Bank Name" error = "addBankAccountForm.bankName.$invalid && addBankAccountForm.bankName.$touched">
                  <input 
                  	name = "bankName"
                  	type="text"
                  	ng-change="clearField('bankName')"
                  	ng-model="addBankAccountFormData.bankName"
                  	ng-disabled="disableFields"
                  	uib-typeahead="bank for bank in getBankList($index, $viewValue)"
                  	typeahead-loading="loading"
                  	typeahead-no-results="noResults"
                  	typeahead-select-on-blur="true"
                  	required
                  	/>
              </lx-text-field>
              <div class="help-block" ng-messages="addBankAccountForm.bankName.$error" ng-if="addBankAccountForm.bankName.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addBankAccountForm.branchName.$invalid && addBankAccountForm.branchName.$touched}">
              <lx-text-field label="Branch" error = "addBankAccountForm.branchName.$invalid && addBankAccountForm.branchName.$touched">
                  <input 
                  	ng-disabled="!addBankAccountFormData.bankName || disableFields"
                  	name = "branchName"
                  	type="text"
                  	ng-change="clearField('branchName')"
                  	ng-model="addBankAccountFormData.branchName"
                  	uib-typeahead="branch for branch in getBranchList($index, $viewValue)"
                  	typeahead-loading="loading"
                  	typeahead-no-results="noResults"
                  	typeahead-on-select="addBranch($item)"
                  	typeahead-select-on-blur="true"
                  	required
                  	/>
              </lx-text-field>
              <div class="help-block" ng-messages="addBankAccountForm.branchName.$error" ng-if="addBankAccountForm.branchName.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

            <div class="field" ng-class = "{'has-error': addBankAccountForm.accountNumber.$invalid && addBankAccountForm.accountNumber.$touched}">
              <lx-text-field label="Account Number" error = "addBankAccountForm.accountNumber.$invalid && addBankAccountForm.field.$touched">
                  <input name = "accountNumber" type="text" ng-model="addBankAccountFormData.accountNumber" ng-disabled="!addBankAccountFormData.branchName || !addBankAccountFormData.bankName || disableFields" required>
              </lx-text-field>
              <div class="help-block" ng-messages="addBankAccountForm.accountNumber.$error" ng-if="addBankAccountForm.accountNumber.$touched">
                  <p ng-message="required">This field is required.</p>
              </div>
            </div>

          </form>
        </div>

  </div>
  <div class = "modal-footer">
    <div class="ui buttons">
      <button class="ui button" ng-click = "closeDialog()">Cancel</button>
      <div class="or"></div>
      <button ng-disabled="addBankAccountProgress" ng-if="isUpdate" class="ui primary button" ng-click = "updateBankAccount()" ng-class="{'loading': addBankAccountProgress}" lx-ripple>Update</button>
      <button ng-disabled="addBankAccountProgress || disableFields" ng-if="!isUpdate" class="ui primary button" ng-click = "addBankAccount(addBankAccountForm)" ng-class="{'loading': addBankAccountProgress}" lx-ripple>Add Bank Account</button>
    </div>
  </div>
</modal>
